.t396 .t-animate[data-animate-style=fadein],.t396 .t-animate[data-animate-style=fadeindown],.t396 .t-animate[data-animate-style=fadeinleft],.t396 .t-animate[data-animate-style=fadeinright],.t396 .t-animate[data-animate-style=fadeinup],.t396 .t-animate[data-animate-style=zoomin],.t396 .t-animate[data-animate-style=zoomout]{opacity:0}@media screen and (min-width:980px){.t-animate[data-animate-style=fadein],.t-animate[data-animate-style=fadeindown],.t-animate[data-animate-style=fadeinleft],.t-animate[data-animate-style=fadeinright],.t-animate[data-animate-style=fadeinup],.t-animate[data-animate-style=zoomin],.t-animate[data-animate-style=zoomout]{opacity:0;-webkit-transition-property:opacity,transform;transition-property:opacity,transform;-webkit-transition-duration:1s;transition-duration:1s;-webkit-transition-timing-function:cubic-bezier(.19,1,.22,1);transition-timing-function:cubic-bezier(.19,1,.22,1);-webkit-backface-visibility:hidden;backface-visibility:hidden}.t-title.t-animate{-webkit-transition-duration:1.2s;transition-duration:1.2s}.t-descr.t-animate,.t-subtitle.t-animate,.t-text.t-animate,.t-uptitle.t-animate{-webkit-transition-duration:.7s;transition-duration:.7s}.t-item.t-animate{-webkit-transition-duration:.5s;transition-duration:.5s}.t-animate_started[data-animate-style=fadein]{opacity:1}.t-animate[data-animate-style=fadeinup]{-webkit-transform:translate(0,100px);transform:translate(0,100px)}.t-animate_started[data-animate-style=fadeinup]{opacity:1;-webkit-transform:none;transform:none}.t-animate[data-animate-style=fadeindown]{-webkit-transform:translate(0,-100px);transform:translate(0,-100px)}.t-animate_started[data-animate-style=fadeindown]{opacity:1;-webkit-transform:none;transform:none}.t-animate[data-animate-style=fadeinleft]{-webkit-transform:translate(100px,0);transform:translate(100px,0)}.t-animate_started[data-animate-style=fadeinleft]{opacity:1;-webkit-transform:none;transform:none}.t-animate[data-animate-style=fadeinright]{-webkit-transform:translate(-100px,0);transform:translate(-100px,0)}.t-animate_started[data-animate-style=fadeinright]{opacity:1;-webkit-transform:none;transform:none}.t-animate[data-animate-style=zoomin]{-webkit-transform:scale(.9);transform:scale(.9)}.t-animate_started[data-animate-style=zoomin]{opacity:1;-webkit-transform:scale(1);transform:scale(1)}.t-animate[data-animate-style=zoomout]{-webkit-transform:scale(1.2);transform:scale(1.2)}.t-animate_started[data-animate-style=zoomout]{opacity:1;-webkit-transform:scale(1);transform:scale(1)}.t-animate_started[data-animate-distance],.t-animate_started[data-animate-scale]{-webkit-transform:none!important;transform:none!important}}.t-animate-for-wrapper .t-animate:not(.t-animate_started){opacity:0!important;transition-duration:0s!important}




@charset 'UTF-8';
/* Slider */
.slick-loading .slick-list
{
    background: #fff url('./ajax-loader.gif') center center no-repeat;
}

/* Icons */
@font-face
{
    font-family: 'slick';
    font-weight: normal;
    font-style: normal;

    src: url('./fonts/slick.eot');
    src: url('./fonts/slick.eot?#iefix') format('embedded-opentype'), url('./fonts/slick.woff') format('woff'), url('./fonts/slick.ttf') format('truetype'), url('./fonts/slick.svg#slick') format('svg');
}
/* Arrows */
.slick-prev,
.slick-next
{
    font-size: 0;
    line-height: 0;

    position: absolute;
    top: 50%;

    display: block;

    width: 20px;
    height: 20px;
    padding: 0;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);

    cursor: pointer;

    color: transparent;
    border: none;
    outline: none;
    background: transparent;
}
.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus
{
    color: transparent;
    outline: none;
    background: transparent;
}
.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before
{
    opacity: 1;
}
.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before
{
    opacity: .25;
}

.slick-prev:before,
.slick-next:before
{
    font-family: 'slick';
    font-size: 20px;
    line-height: 1;

    opacity: .75;
    color: white;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.slick-prev
{
    left: -25px;
}
[dir='rtl'] .slick-prev
{
    right: -25px;
    left: auto;
}
.slick-prev:before
{
    content: '←';
}
[dir='rtl'] .slick-prev:before
{
    content: '→';
}

.slick-next
{
    right: -25px;
}
[dir='rtl'] .slick-next
{
    right: auto;
    left: -25px;
}
.slick-next:before
{
    content: '→';
}
[dir='rtl'] .slick-next:before
{
    content: '←';
}

/* Dots */
.slick-dotted.slick-slider
{
    margin-bottom: 30px;
}

.slick-dots
{
    position: absolute;
    bottom: -25px;

    display: block;

    width: 100%;
    padding: 0;
    margin: 0;

    list-style: none;

    text-align: center;
}
.slick-dots li
{
    position: relative;

    display: inline-block;

    width: 20px;
    height: 20px;
    margin: 0 5px;
    padding: 0;

    cursor: pointer;
}
.slick-dots li button
{
    font-size: 0;
    line-height: 0;

    display: block;

    width: 20px;
    height: 20px;
    padding: 5px;

    cursor: pointer;

    color: transparent;
    border: 0;
    outline: none;
    background: transparent;
}
.slick-dots li button:hover,
.slick-dots li button:focus
{
    outline: none;
}
.slick-dots li button:hover:before,
.slick-dots li button:focus:before
{
    opacity: 1;
}
.slick-dots li button:before
{
    font-family: 'slick';
    font-size: 6px;
    line-height: 20px;

    position: absolute;
    top: 0;
    left: 0;

    width: 20px;
    height: 20px;

    content: '•';
    text-align: center;

    opacity: .25;
    color: black;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.slick-dots li.slick-active button:before
{
    opacity: .75;
    color: black;
}