#rec629233503 .t396__artboard {
    height: 698px;
    background-color: #0b1b29;
}

#rec629233503 .t396__filter {
    height: 698px;
}

#rec629233503 .t396__carrier {
    height: 698px;
    background-position: center center;
    background-attachment: scroll;
    background-size: cover;
    background-repeat: no-repeat;
}

@media screen and (max-width: 1199px) {
    #rec629233503 .t396__artboard,#rec629233503 .t396__filter,#rec629233503 .t396__carrier {
    }

    #rec629233503 .t396__filter {
    }

    #rec629233503 .t396__carrier {
        background-attachment: scroll;
    }
}

@media screen and (max-width: 959px) {
    #rec629233503 .t396__artboard,#rec629233503 .t396__filter,#rec629233503 .t396__carrier {
    }

    #rec629233503 .t396__filter {
    }

    #rec629233503 .t396__carrier {
        background-attachment: scroll;
    }
}

@media screen and (max-width: 639px) {
    #rec629233503 .t396__artboard,#rec629233503 .t396__filter,#rec629233503 .t396__carrier {
    }

    #rec629233503 .t396__filter {
    }

    #rec629233503 .t396__carrier {
        background-attachment: scroll;
    }
}

@media screen and (max-width: 479px) {
    #rec629233503 .t396__artboard,#rec629233503 .t396__filter,#rec629233503 .t396__carrier {
        height: 782px;
    }

    #rec629233503 .t396__filter {
    }

    #rec629233503 .t396__carrier {
        background-attachment: scroll;
    }
}

#rec629233503 .tn-elem[data-elem-id="1692284489038"] {
    z-index: 2;
    top: 696px;
    left: calc(50% - 600px + -360px);
    width: 2px;
}

#rec629233503 .tn-elem[data-elem-id="1692284489038"] .tn-atom {
    background-position: center center;
    border-color: transparent ;
    border-style: solid ;
}

#rec629233503 .tn-elem[data-elem-id="1692284489038"] .tn-atom__vector svg {
    display: block;
}

@media screen and (max-width: 1199px) {
}

@media screen and (max-width: 959px) {
    #rec629233503 .tn-elem[data-elem-id="1692284489038"] {
        left: calc(50% - 320px + -520px);
    }
}

@media screen and (max-width: 639px) {
}

@media screen and (max-width: 479px) {
}

#rec629233503 .tn-elem[data-elem-id="1692284489040"] {
    z-index: 3;
    top: 0px;
    left: calc(50% - 600px + -360px);
    width: 2px;
}

#rec629233503 .tn-elem[data-elem-id="1692284489040"] .tn-atom {
    background-position: center center;
    border-color: transparent ;
    border-style: solid ;
}

#rec629233503 .tn-elem[data-elem-id="1692284489040"] .tn-atom__vector svg {
    display: block;
}

@media screen and (max-width: 1199px) {
}

@media screen and (max-width: 959px) {
    #rec629233503 .tn-elem[data-elem-id="1692284489040"] {
        left: calc(50% - 320px + -520px);
    }
}

@media screen and (max-width: 639px) {
}

@media screen and (max-width: 479px) {
}

#rec629233503 .tn-elem[data-elem-id="1692284489042"] {
    z-index: 4;
    top: 696px;
    left: calc(50% - 600px + -360px);
    width: 2px;
}

#rec629233503 .tn-elem[data-elem-id="1692284489042"] .tn-atom {
    background-position: center center;
    border-color: transparent ;
    border-style: solid ;
}

#rec629233503 .tn-elem[data-elem-id="1692284489042"] .tn-atom__vector svg {
    display: block;
}

@media screen and (max-width: 1199px) {
}

@media screen and (max-width: 959px) {
    #rec629233503 .tn-elem[data-elem-id="1692284489042"] {
        left: calc(50% - 320px + -520px);
    }
}

@media screen and (max-width: 639px) {
}

@media screen and (max-width: 479px) {
}

#rec629233503 .tn-elem[data-elem-id="1692284489069"] {
    z-index: 5;
    top: 476px;
    left: calc(50% - 600px + 0px);
    width: 1200px;
    height: 120px;
}

#rec629233503 .tn-elem[data-elem-id="1692284489069"] .tn-atom {
    background-color: #0f2438;
    background-position: center center;
    border-color: transparent ;
    border-style: solid ;
}

@media screen and (max-width: 1199px) {
    #rec629233503 .tn-elem[data-elem-id="1692284489069"] {
        left: calc(50% - 480px + -32px);
        width: 1024px;
    }
}

@media screen and (max-width: 959px) {
    #rec629233503 .tn-elem[data-elem-id="1692284489069"] {
        left: calc(50% - 320px + 0px);
        width: 640px;
    }
}

@media screen and (max-width: 639px) {
    #rec629233503 .tn-elem[data-elem-id="1692284489069"] {
        top: 506px;
        left: calc(50% - 240px + 0px);
        width: 480px;
        height: 150px;
    }
}

@media screen and (max-width: 479px) {
    #rec629233503 .tn-elem[data-elem-id="1692284489069"] {
        top: 532px;
        left: calc(50% - 160px + -65px);
        width: 450px;
        height: 200px;
    }
}

#rec629233503 .tn-elem[data-elem-id="1692284489043"] {
    z-index: 6;
    top: 186px;
    left: calc(50% - 600px + 0px);
    width: 1200px;
    height: 120px;
}

#rec629233503 .tn-elem[data-elem-id="1692284489043"] .tn-atom {
    background-color: #0f2438;
    background-position: center center;
    border-color: transparent ;
    border-style: solid ;
}

@media screen and (max-width: 1199px) {
    #rec629233503 .tn-elem[data-elem-id="1692284489043"] {
        left: calc(50% - 480px + -32px);
        width: 1024px;
    }
}

@media screen and (max-width: 959px) {
    #rec629233503 .tn-elem[data-elem-id="1692284489043"] {
        left: calc(50% - 320px + 0px);
        width: 640px;
    }
}

@media screen and (max-width: 639px) {
    #rec629233503 .tn-elem[data-elem-id="1692284489043"] {
        top: 186px;
        left: calc(50% - 240px + 0px);
        width: 480px;
        height: 150px;
    }
}

@media screen and (max-width: 479px) {
    #rec629233503 .tn-elem[data-elem-id="1692284489043"] {
        top: 160px;
        left: calc(50% - 160px + -65px);
        width: 450px;
        height: 176px;
    }
}

#rec629233503 .tn-elem[data-elem-id="1692284489046"] {
    color: #7a96b0;
    text-align: LEFT;
    z-index: 7;
    top: 222px;
    left: calc(50% - 600px + 565px);
    width: 407px;
}

#rec629233503 .tn-elem[data-elem-id="1692284489046"] .tn-atom {
    color: #7a96b0;
    font-size: 16px;
    font-family: 'Arial',Arial,sans-serif;
    line-height: 1.50;
    font-weight: 400;
    background-position: center center;
    border-color: transparent ;
    border-style: solid ;
}

@media screen and (max-width: 1199px) {
    #rec629233503 .tn-elem[data-elem-id="1692284489046"] {
        left: calc(50% - 480px + 445px);
    }
}

@media screen and (max-width: 959px) {
    #rec629233503 .tn-elem[data-elem-id="1692284489046"] {
        top: 242px;
        left: calc(50% - 320px + 99px);
    }
}

@media screen and (max-width: 639px) {
    #rec629233503 .tn-elem[data-elem-id="1692284489046"] {
        top: 245px;
        width: 298px;
    }
}

@media screen and (max-width: 479px) {
    #rec629233503 .tn-elem[data-elem-id="1692284489046"] {
        top: 237px;
        left: calc(50% - 160px + 0px);
        width: 320px;
    }
}

#rec629233503 .tn-elem[data-elem-id="1692284489048"] {
    color: #ffffff;
    text-align: LEFT;
    z-index: 8;
    top: 234px;
    left: calc(50% - 600px + 307px);
    width: 244px;
}

#rec629233503 .tn-elem[data-elem-id="1692284489048"] .tn-atom {
    color: #ffffff;
    font-size: 20px;
    font-family: 'Unbounded',Arial,sans-serif;
    line-height: 1.25;
    font-weight: 400;
    background-position: center center;
    border-color: transparent ;
    border-style: solid ;
}

@media screen and (max-width: 1199px) {
    #rec629233503 .tn-elem[data-elem-id="1692284489048"] {
        left: calc(50% - 480px + 187px);
    }
}

@media screen and (max-width: 959px) {
    #rec629233503 .tn-elem[data-elem-id="1692284489048"] {
        top: 202px;
        left: calc(50% - 320px + 100px);
    }
}

@media screen and (max-width: 639px) {
    #rec629233503 .tn-elem[data-elem-id="1692284489048"] {
        top: 205px;
    }
}

@media screen and (max-width: 479px) {
    #rec629233503 .tn-elem[data-elem-id="1692284489048"] {
        top: 187px;
        left: calc(50% - 160px + 0px);
        width: 320px;
    }
}

#rec629233503 .tn-elem[data-elem-id="1692284489049"] {
    z-index: 9;
    top: 216px;
    left: calc(50% - 600px + 227px);
    width: 60px;
    height: 60px;
}

#rec629233503 .tn-elem[data-elem-id="1692284489049"] .tn-atom {
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    border-color: transparent ;
    border-style: solid ;
}

@media screen and (max-width: 1199px) {
    #rec629233503 .tn-elem[data-elem-id="1692284489049"] {
        left: calc(50% - 480px + 107px);
    }
}

@media screen and (max-width: 959px) {
    #rec629233503 .tn-elem[data-elem-id="1692284489049"] {
        top: 216px;
        left: calc(50% - 320px + 20px);
    }
}

@media screen and (max-width: 639px) {
    #rec629233503 .tn-elem[data-elem-id="1692284489049"] {
        top: 199px;
    }
}

@media screen and (max-width: 479px) {
    #rec629233503 .tn-elem[data-elem-id="1692284489049"] {
        top: 172px;
        left: calc(50% - 160px + 260px);
    }
}

#rec629233503 .tn-elem[data-elem-id="1692284489052"] {
    z-index: 10;
    top: 331px;
    left: calc(50% - 600px + 0px);
    width: 1200px;
    height: 120px;
}

#rec629233503 .tn-elem[data-elem-id="1692284489052"] .tn-atom {
    background-color: #0f2438;
    background-position: center center;
    border-color: transparent ;
    border-style: solid ;
}

@media screen and (max-width: 1199px) {
    #rec629233503 .tn-elem[data-elem-id="1692284489052"] {
        left: calc(50% - 480px + -32px);
        width: 1024px;
    }
}

@media screen and (max-width: 959px) {
    #rec629233503 .tn-elem[data-elem-id="1692284489052"] {
        left: calc(50% - 320px + 0px);
        width: 640px;
    }
}

@media screen and (max-width: 639px) {
    #rec629233503 .tn-elem[data-elem-id="1692284489052"] {
        top: 346px;
        left: calc(50% - 240px + -1px);
        width: 480px;
        height: 150px;
    }
}

@media screen and (max-width: 479px) {
    #rec629233503 .tn-elem[data-elem-id="1692284489052"] {
        top: 346px;
        left: calc(50% - 160px + -65px);
        width: 450px;
        height: 176px;
    }
}

#rec629233503 .tn-elem[data-elem-id="1692284489056"] {
    color: #7a96b0;
    text-align: LEFT;
    z-index: 11;
    top: 367px;
    left: calc(50% - 600px + 565px);
    width: 407px;
}

#rec629233503 .tn-elem[data-elem-id="1692284489056"] .tn-atom {
    color: #7a96b0;
    font-size: 16px;
    font-family: 'Arial',Arial,sans-serif;
    line-height: 1.50;
    font-weight: 400;
    background-position: center center;
    border-color: transparent ;
    border-style: solid ;
}

@media screen and (max-width: 1199px) {
    #rec629233503 .tn-elem[data-elem-id="1692284489056"] {
        left: calc(50% - 480px + 445px);
    }
}

@media screen and (max-width: 959px) {
    #rec629233503 .tn-elem[data-elem-id="1692284489056"] {
        top: 387px;
        left: calc(50% - 320px + 99px);
    }
}

@media screen and (max-width: 639px) {
    #rec629233503 .tn-elem[data-elem-id="1692284489056"] {
        top: 405px;
        width: 298px;
    }
}

@media screen and (max-width: 479px) {
    #rec629233503 .tn-elem[data-elem-id="1692284489056"] {
        top: 423px;
        left: calc(50% - 160px + 0px);
        width: 320px;
    }
}

#rec629233503 .tn-elem[data-elem-id="1692284489057"] {
    color: #ffffff;
    text-align: LEFT;
    z-index: 12;
    top: 379px;
    left: calc(50% - 600px + 307px);
    width: 228px;
}

#rec629233503 .tn-elem[data-elem-id="1692284489057"] .tn-atom {
    color: #ffffff;
    font-size: 20px;
    font-family: 'Unbounded',Arial,sans-serif;
    line-height: 1.25;
    font-weight: 400;
    background-position: center center;
    border-color: transparent ;
    border-style: solid ;
}

@media screen and (max-width: 1199px) {
    #rec629233503 .tn-elem[data-elem-id="1692284489057"] {
        left: calc(50% - 480px + 187px);
    }
}

@media screen and (max-width: 959px) {
    #rec629233503 .tn-elem[data-elem-id="1692284489057"] {
        top: 347px;
        left: calc(50% - 320px + 100px);
    }
}

@media screen and (max-width: 639px) {
    #rec629233503 .tn-elem[data-elem-id="1692284489057"] {
        top: 365px;
    }
}

@media screen and (max-width: 479px) {
    #rec629233503 .tn-elem[data-elem-id="1692284489057"] {
        top: 373px;
        left: calc(50% - 160px + 0px);
        width: 320px;
    }
}

#rec629233503 .tn-elem[data-elem-id="1692284489059"] {
    z-index: 13;
    top: 361px;
    left: calc(50% - 600px + 227px);
    width: 60px;
    height: 60px;
}

#rec629233503 .tn-elem[data-elem-id="1692284489059"] .tn-atom {
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    border-color: transparent ;
    border-style: solid ;
}

@media screen and (max-width: 1199px) {
    #rec629233503 .tn-elem[data-elem-id="1692284489059"] {
        left: calc(50% - 480px + 107px);
    }
}

@media screen and (max-width: 959px) {
    #rec629233503 .tn-elem[data-elem-id="1692284489059"] {
        top: 361px;
        left: calc(50% - 320px + 20px);
    }
}

@media screen and (max-width: 639px) {
    #rec629233503 .tn-elem[data-elem-id="1692284489059"] {
        top: 359px;
    }
}

@media screen and (max-width: 479px) {
    #rec629233503 .tn-elem[data-elem-id="1692284489059"] {
        top: 360px;
        left: calc(50% - 160px + 260px);
    }
}

#rec629233503 .tn-elem[data-elem-id="1692284489073"] {
    color: #7a96b0;
    text-align: LEFT;
    z-index: 14;
    top: 500px;
    left: calc(50% - 600px + 565px);
    width: 407px;
}

#rec629233503 .tn-elem[data-elem-id="1692284489073"] .tn-atom {
    color: #7a96b0;
    font-size: 16px;
    font-family: 'Arial',Arial,sans-serif;
    line-height: 1.50;
    font-weight: 400;
    background-position: center center;
    border-color: transparent ;
    border-style: solid ;
}

@media screen and (max-width: 1199px) {
    #rec629233503 .tn-elem[data-elem-id="1692284489073"] {
        left: calc(50% - 480px + 445px);
    }
}

@media screen and (max-width: 959px) {
    #rec629233503 .tn-elem[data-elem-id="1692284489073"] {
        top: 532px;
        left: calc(50% - 320px + 99px);
        width: 506px;
    }
}

@media screen and (max-width: 639px) {
    #rec629233503 .tn-elem[data-elem-id="1692284489073"] {
        top: 565px;
        width: 370px;
    }
}

@media screen and (max-width: 479px) {
    #rec629233503 .tn-elem[data-elem-id="1692284489073"] {
        top: 609px;
        left: calc(50% - 160px + 0px);
        width: 320px;
    }
}

#rec629233503 .tn-elem[data-elem-id="1692284489074"] {
    color: #ffffff;
    text-align: LEFT;
    z-index: 15;
    top: 524px;
    left: calc(50% - 600px + 307px);
    width: 199px;
}

#rec629233503 .tn-elem[data-elem-id="1692284489074"] .tn-atom {
    color: #ffffff;
    font-size: 20px;
    font-family: 'Unbounded',Arial,sans-serif;
    line-height: 1.25;
    font-weight: 400;
    background-position: center center;
    border-color: transparent ;
    border-style: solid ;
}

@media screen and (max-width: 1199px) {
    #rec629233503 .tn-elem[data-elem-id="1692284489074"] {
        left: calc(50% - 480px + 187px);
    }
}

@media screen and (max-width: 959px) {
    #rec629233503 .tn-elem[data-elem-id="1692284489074"] {
        top: 492px;
        left: calc(50% - 320px + 100px);
    }
}

@media screen and (max-width: 639px) {
    #rec629233503 .tn-elem[data-elem-id="1692284489074"] {
        top: 525px;
    }
}

@media screen and (max-width: 479px) {
    #rec629233503 .tn-elem[data-elem-id="1692284489074"] {
        top: 559px;
        left: calc(50% - 160px + 0px);
        width: 320px;
    }
}

#rec629233503 .tn-elem[data-elem-id="1692284489076"] {
    z-index: 16;
    top: 506px;
    left: calc(50% - 600px + 227px);
    width: 60px;
    height: 60px;
}

#rec629233503 .tn-elem[data-elem-id="1692284489076"] .tn-atom {
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    border-color: transparent ;
    border-style: solid ;
}

@media screen and (max-width: 1199px) {
    #rec629233503 .tn-elem[data-elem-id="1692284489076"] {
        left: calc(50% - 480px + 107px);
    }
}

@media screen and (max-width: 959px) {
    #rec629233503 .tn-elem[data-elem-id="1692284489076"] {
        top: 506px;
        left: calc(50% - 320px + 20px);
    }
}

@media screen and (max-width: 639px) {
    #rec629233503 .tn-elem[data-elem-id="1692284489076"] {
        top: 519px;
    }
}

@media screen and (max-width: 479px) {
    #rec629233503 .tn-elem[data-elem-id="1692284489076"] {
        top: 542px;
        left: calc(50% - 160px + 259px);
    }

    #rec629233503 .tn-elem[data-elem-id="1692284489076"] .tn-atom {
        -webkit-transform: rotate(NaNdeg);
        -moz-transform: rotate(NaNdeg);
        transform: rotate(NaNdeg);
    }
}

#rec629233503 .tn-elem[data-elem-id="1692284489079"] {
    z-index: 17;
    top: 25px;
    left: calc(50% - 600px + 247px);
    width: 156px;
    height: 143px;
}

#rec629233503 .tn-elem.t396__elem--anim-hidden[data-elem-id="1692284489079"] {
    opacity: 0;
}

#rec629233503 .tn-elem[data-elem-id="1692284489079"] .tn-atom {
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    border-color: transparent ;
    border-style: solid ;
}

@media screen and (max-width: 1199px) {
    #rec629233503 .tn-elem[data-elem-id="1692284489079"] {
        left: calc(50% - 480px + 127px);
    }
}

@media screen and (max-width: 959px) {
    #rec629233503 .tn-elem[data-elem-id="1692284489079"] {
        top: 15px;
        left: calc(50% - 320px + -33px);
    }
}

@media screen and (max-width: 639px) {
    #rec629233503 .tn-elem[data-elem-id="1692284489079"] {
        top: 14px;
        left: calc(50% - 240px + -38px);
    }
}

@media screen and (max-width: 479px) {
    #rec629233503 .tn-elem[data-elem-id="1692284489079"] {
        top: 3px;
        left: calc(50% - 160px + -50px);
    }
}

#rec629233503 .tn-elem[data-elem-id="1692284489081"] {
    color: #ffffff;
    text-align: CENTER;
    z-index: 18;
    top: 102px;
    left: calc(50% - 600px + 0px);
    width: 1200px;
}

#rec629233503 .tn-elem[data-elem-id="1692284489081"] .tn-atom {
    color: #ffffff;
    font-size: 40px;
    font-family: 'Unbounded',Arial,sans-serif;
    line-height: 0.88;
    font-weight: 400;
    background-position: center center;
    border-color: transparent ;
    border-style: solid ;
}

@media screen and (max-width: 1199px) {
    #rec629233503 .tn-elem[data-elem-id="1692284489081"] {
        left: calc(50% - 480px + -120px);
    }
}

@media screen and (max-width: 959px) {
    #rec629233503 .tn-elem[data-elem-id="1692284489081"] {
        left: calc(50% - 320px + -280px);
    }
}

@media screen and (max-width: 639px) {
    #rec629233503 .tn-elem[data-elem-id="1692284489081"] {
        top: 102px;
        left: calc(50% - 240px + 0px);
        width: 480px;
    }

    #rec629233503 .tn-elem[data-elem-id="1692284489081"] .tn-atom {
        font-size: 30px;
    }
}

@media screen and (max-width: 479px) {
    #rec629233503 .tn-elem[data-elem-id="1692284489081"] {
        top: 50px;
        left: calc(50% - 160px + 0px);
        width: 285px;
    }

    #rec629233503 .tn-elem[data-elem-id="1692284489081"] {
        text-align: left;
    }

    #rec629233503 .tn-elem[data-elem-id="1692284489081"] .tn-atom {
        font-size: 30px;
        line-height: 1;
    }
}

#rec629233503 .tn-elem[data-elem-id="1692284831737"] {
    z-index: 19;
    top: 0px;
    left: calc(50% - 600px + -360px);
    width: 1920px;
}

#rec629233503 .tn-elem[data-elem-id="1692284831737"] .tn-atom {
    background-position: center center;
    border-color: transparent ;
    border-style: solid ;
}

@media screen and (max-width: 1199px) {
    #rec629233503 .tn-elem[data-elem-id="1692284831737"] {
        left: calc(50% - 480px + -480px);
    }
}

@media screen and (max-width: 959px) {
    #rec629233503 .tn-elem[data-elem-id="1692284831737"] {
        left: calc(50% - 320px + -640px);
    }
}

@media screen and (max-width: 639px) {
    #rec629233503 .tn-elem[data-elem-id="1692284831737"] {
        top: 0px;
        left: calc(50% - 240px + -720px);
    }
}

@media screen and (max-width: 479px) {
}
