
#rec636199760 .t396__artboard {
    height: 250px;
    overflow: auto;
}

#rec636199760 .t396__filter {
    height: 250px;
}

#rec636199760 .t396__carrier {
    height: 250px;
    background-position: center center;
    background-attachment: scroll;
    background-size: cover;
    background-repeat: no-repeat;
}

@media screen and (max-width: 1199px) {
    #rec636199760 .t396__artboard,#rec636199760 .t396__filter,#rec636199760 .t396__carrier {
    }

    #rec636199760 .t396__filter {
    }

    #rec636199760 .t396__carrier {
        background-attachment: scroll;
    }
}

@media screen and (max-width: 959px) {
    #rec636199760 .t396__artboard,#rec636199760 .t396__filter,#rec636199760 .t396__carrier {
        height: 230px;
    }

    #rec636199760 .t396__filter {
    }

    #rec636199760 .t396__carrier {
        background-attachment: scroll;
    }
}

@media screen and (max-width: 639px) {
    #rec636199760 .t396__artboard,#rec636199760 .t396__filter,#rec636199760 .t396__carrier {
        height: 270px;
    }

    #rec636199760 .t396__filter {
    }

    #rec636199760 .t396__carrier {
        background-attachment: scroll;
    }
}

@media screen and (max-width: 479px) {
    #rec636199760 .t396__artboard,#rec636199760 .t396__filter,#rec636199760 .t396__carrier {
        height: 336px;
    }

    #rec636199760 .t396__filter {
    }

    #rec636199760 .t396__carrier {
        background-attachment: scroll;
    }
}

#rec636199760 .tn-elem[data-elem-id="1694242458277"] {
    z-index: 2;
    top: 145px;
    left: calc(50% - 600px + 1200px);
    width: 1px;
    height: 55px;
}

#rec636199760 .tn-elem[data-elem-id="1694242458277"] .tn-atom {
    opacity: 0;
    background-position: center center;
    border-color: transparent ;
    border-style: solid ;
}

@media screen and (max-width: 1199px) {
    #rec636199760 .tn-elem[data-elem-id="1694242458277"] {
        width: 150px;
    }
}

@media screen and (max-width: 959px) {
}

@media screen and (max-width: 639px) {
    #rec636199760 .tn-elem[data-elem-id="1694242458277"] {
        top: 185px;
        left: calc(50% - 240px + 1200px);
    }
}

@media screen and (max-width: 479px) {
    #rec636199760 .tn-elem[data-elem-id="1694242458277"] {
        top: 251px;
        left: calc(50% - 160px + 930px);
        width: 10px;
    }
}

#rec636199760 .tn-elem[data-elem-id="1693908719449"] {
    color: #ffffff;
    text-align: center;
    z-index: 3;
    top: 145px;
    left: calc(50% - 600px + 1050px);
    width: 150px;
    height: 55px;
    -webkit-backdrop-filter: blur(9px);
    backdrop-filter: blur(9px);
    border-radius: 0px;
}

#rec636199760 .tn-elem[data-elem-id="1693908719449"] .tn-atom {
    color: #ffffff;
    font-size: 13px;
    font-family: 'Unbounded',Arial,sans-serif;
    line-height: 1.55;
    font-weight: 400;
    border-width: 1px;
    border-radius: 0px;
    background-position: center center;
    border-color: #385e80 ;
    border-style: solid ;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, border-color 0.2s ease-in-out;
}

@media (hover), (min-width: 0\0) {
    #rec636199760 .tn-elem[data-elem-id="1693908719449"] .tn-atom:hover {
        border-color: #ffffff;
    }
}

@media screen and (max-width: 1199px) {
}

@media screen and (max-width: 959px) {
}

@media screen and (max-width: 639px) {
    #rec636199760 .tn-elem[data-elem-id="1693908719449"] {
        top: 185px;
        left: calc(50% - 240px + 1050px);
    }
}

@media screen and (max-width: 479px) {
    #rec636199760 .tn-elem[data-elem-id="1693908719449"] {
        top: 251px;
        left: calc(50% - 160px + 815px);
        width: 115px;
    }

    #rec636199760 .tn-elem[data-elem-id="1693908719449"] .tn-atom {
        font-size: 11px;
    }
}

#rec636199760 .tn-elem[data-elem-id="1693908719444"] {
    color: #ffffff;
    text-align: center;
    z-index: 4;
    top: 145px;
    left: calc(50% - 600px + 900px);
    width: 150px;
    height: 55px;
    -webkit-backdrop-filter: blur(9px);
    backdrop-filter: blur(9px);
    border-radius: 0px;
}

#rec636199760 .tn-elem[data-elem-id="1693908719444"] .tn-atom {
    color: #ffffff;
    font-size: 13px;
    font-family: 'Unbounded',Arial,sans-serif;
    line-height: 1.55;
    font-weight: 400;
    border-width: 1px;
    border-radius: 0px;
    background-position: center center;
    border-color: #385e80 ;
    border-style: solid ;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, border-color 0.2s ease-in-out;
}

@media (hover), (min-width: 0\0) {
    #rec636199760 .tn-elem[data-elem-id="1693908719444"] .tn-atom:hover {
        border-color: #ffffff;
    }
}

@media screen and (max-width: 1199px) {
}

@media screen and (max-width: 959px) {
}

@media screen and (max-width: 639px) {
    #rec636199760 .tn-elem[data-elem-id="1693908719444"] {
        top: 185px;
        left: calc(50% - 240px + 900px);
    }
}

@media screen and (max-width: 479px) {
    #rec636199760 .tn-elem[data-elem-id="1693908719444"] {
        top: 251px;
        left: calc(50% - 160px + 700px);
        width: 115px;
    }

    #rec636199760 .tn-elem[data-elem-id="1693908719444"] .tn-atom {
        font-size: 11px;
    }
}

#rec636199760 .tn-elem[data-elem-id="1693908719442"] {
    color: #ffffff;
    text-align: center;
    z-index: 5;
    top: 145px;
    left: calc(50% - 600px + 750px);
    width: 150px;
    height: 55px;
    -webkit-backdrop-filter: blur(9px);
    backdrop-filter: blur(9px);
    border-radius: 0px;
}

#rec636199760 .tn-elem[data-elem-id="1693908719442"] .tn-atom {
    color: #ffffff;
    font-size: 13px;
    font-family: 'Unbounded',Arial,sans-serif;
    line-height: 1.55;
    font-weight: 400;
    border-width: 1px;
    border-radius: 0px;
    background-position: center center;
    border-color: #385e80 ;
    border-style: solid ;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, border-color 0.2s ease-in-out;
}

@media (hover), (min-width: 0\0) {
    #rec636199760 .tn-elem[data-elem-id="1693908719442"] .tn-atom:hover {
        border-color: #ffffff;
    }
}

@media screen and (max-width: 1199px) {
}

@media screen and (max-width: 959px) {
}

@media screen and (max-width: 639px) {
    #rec636199760 .tn-elem[data-elem-id="1693908719442"] {
        top: 185px;
        left: calc(50% - 240px + 750px);
    }
}

@media screen and (max-width: 479px) {
    #rec636199760 .tn-elem[data-elem-id="1693908719442"] {
        top: 251px;
        left: calc(50% - 160px + 585px);
        width: 115px;
    }

    #rec636199760 .tn-elem[data-elem-id="1693908719442"] .tn-atom {
        font-size: 11px;
    }
}

#rec636199760 .tn-elem[data-elem-id="1693908719439"] {
    color: #ffffff;
    text-align: center;
    z-index: 6;
    top: 145px;
    left: calc(50% - 600px + 600px);
    width: 150px;
    height: 55px;
    -webkit-backdrop-filter: blur(9px);
    backdrop-filter: blur(9px);
    border-radius: 0px;
}

#rec636199760 .tn-elem[data-elem-id="1693908719439"] .tn-atom {
    color: #ffffff;
    font-size: 13px;
    font-family: 'Unbounded',Arial,sans-serif;
    line-height: 1.55;
    font-weight: 400;
    border-width: 1px;
    border-radius: 0px;
    background-position: center center;
    border-color: #385e80 ;
    border-style: solid ;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, border-color 0.2s ease-in-out;
}

@media (hover), (min-width: 0\0) {
    #rec636199760 .tn-elem[data-elem-id="1693908719439"] .tn-atom:hover {
        border-color: #ffffff;
    }
}

@media screen and (max-width: 1199px) {
}

@media screen and (max-width: 959px) {
}

@media screen and (max-width: 639px) {
    #rec636199760 .tn-elem[data-elem-id="1693908719439"] {
        top: 185px;
        left: calc(50% - 240px + 600px);
    }
}

@media screen and (max-width: 479px) {
    #rec636199760 .tn-elem[data-elem-id="1693908719439"] {
        top: 251px;
        left: calc(50% - 160px + 470px);
        width: 115px;
    }

    #rec636199760 .tn-elem[data-elem-id="1693908719439"] .tn-atom {
        font-size: 11px;
    }
}

#rec636199760 .tn-elem[data-elem-id="1693908719436"] {
    color: #ffffff;
    text-align: center;
    z-index: 7;
    top: 145px;
    left: calc(50% - 600px + 450px);
    width: 150px;
    height: 55px;
    -webkit-backdrop-filter: blur(9px);
    backdrop-filter: blur(9px);
    border-radius: 0px;
}

#rec636199760 .tn-elem[data-elem-id="1693908719436"] .tn-atom {
    color: #ffffff;
    font-size: 13px;
    font-family: 'Unbounded',Arial,sans-serif;
    line-height: 1.55;
    font-weight: 400;
    border-width: 1px;
    border-radius: 0px;
    background-position: center center;
    border-color: #385e80 ;
    border-style: solid ;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, border-color 0.2s ease-in-out;
}

@media (hover), (min-width: 0\0) {
    #rec636199760 .tn-elem[data-elem-id="1693908719436"] .tn-atom:hover {
        border-color: #ffffff;
    }
}

@media screen and (max-width: 1199px) {
}

@media screen and (max-width: 959px) {
}

@media screen and (max-width: 639px) {
    #rec636199760 .tn-elem[data-elem-id="1693908719436"] {
        top: 185px;
        left: calc(50% - 240px + 450px);
    }
}

@media screen and (max-width: 479px) {
    #rec636199760 .tn-elem[data-elem-id="1693908719436"] {
        top: 251px;
        left: calc(50% - 160px + 355px);
        width: 115px;
    }

    #rec636199760 .tn-elem[data-elem-id="1693908719436"] .tn-atom {
        font-size: 11px;
    }
}

#rec636199760 .tn-elem[data-elem-id="1693908719431"] {
    color: #ffffff;
    text-align: center;
    z-index: 8;
    top: 145px;
    left: calc(50% - 600px + 300px);
    width: 150px;
    height: 55px;
    -webkit-backdrop-filter: blur(9px);
    backdrop-filter: blur(9px);
    border-radius: 0px;
}

#rec636199760 .tn-elem[data-elem-id="1693908719431"] .tn-atom {
    color: #ffffff;
    font-size: 13px;
    font-family: 'Unbounded',Arial,sans-serif;
    line-height: 1.55;
    font-weight: 400;
    border-width: 1px;
    border-radius: 0px;
    background-position: center center;
    border-color: #385e80 ;
    border-style: solid ;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, border-color 0.2s ease-in-out;
}

@media (hover), (min-width: 0\0) {
    #rec636199760 .tn-elem[data-elem-id="1693908719431"] .tn-atom:hover {
        border-color: #ffffff;
    }
}

@media screen and (max-width: 1199px) {
}

@media screen and (max-width: 959px) {
}

@media screen and (max-width: 639px) {
    #rec636199760 .tn-elem[data-elem-id="1693908719431"] {
        top: 185px;
        left: calc(50% - 240px + 300px);
    }
}

@media screen and (max-width: 479px) {
    #rec636199760 .tn-elem[data-elem-id="1693908719431"] {
        top: 251px;
        left: calc(50% - 160px + 240px);
        width: 115px;
    }

    #rec636199760 .tn-elem[data-elem-id="1693908719431"] .tn-atom {
        font-size: 11px;
    }
}

#rec636199760 .tn-elem[data-elem-id="1693908902361"] {
    color: #ffffff;
    text-align: center;
    z-index: 9;
    top: 145px;
    left: calc(50% - 600px + 150px);
    width: 150px;
    height: 55px;
    -webkit-backdrop-filter: blur(9px);
    backdrop-filter: blur(9px);
    border-radius: 0px;
}

#rec636199760 .tn-elem[data-elem-id="1693908902361"] .tn-atom {
    color: #ffffff;
    font-size: 13px;
    font-family: 'Unbounded',Arial,sans-serif;
    line-height: 1.55;
    font-weight: 400;
    border-width: 1px;
    border-radius: 0px;
    background-position: center center;
    border-color: #385e80 ;
    border-style: solid ;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, border-color 0.2s ease-in-out;
}

@media (hover), (min-width: 0\0) {
    #rec636199760 .tn-elem[data-elem-id="1693908902361"] .tn-atom:hover {
        border-color: #ffffff;
    }
}

@media screen and (max-width: 1199px) {
}

@media screen and (max-width: 959px) {
}

@media screen and (max-width: 639px) {
    #rec636199760 .tn-elem[data-elem-id="1693908902361"] {
        top: 185px;
        left: calc(50% - 240px + 150px);
    }
}

@media screen and (max-width: 479px) {
    #rec636199760 .tn-elem[data-elem-id="1693908902361"] {
        top: 251px;
        left: calc(50% - 160px + 125px);
        width: 115px;
    }

    #rec636199760 .tn-elem[data-elem-id="1693908902361"] .tn-atom {
        font-size: 11px;
    }
}

#rec636199760 .tn-elem[data-elem-id="1693908719447"] {
    color: #ffffff;
    text-align: center;
    z-index: 10;
    top: 145px;
    left: calc(50% - 600px + 0px);
    width: 150px;
    height: 55px;
    -webkit-backdrop-filter: blur(9px);
    backdrop-filter: blur(9px);
    border-radius: 0px;
}

#rec636199760 .tn-elem[data-elem-id="1693908719447"] .tn-atom {
    color: #ffffff;
    font-size: 13px;
    font-family: 'Unbounded',Arial,sans-serif;
    line-height: 1.55;
    font-weight: 500;
    border-width: 1px;
    border-radius: 0px;
    background-position: center center;
    border-color: #385e80 ;
    border-style: solid ;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, border-color 0.2s ease-in-out;
}

@media (hover), (min-width: 0\0) {
    #rec636199760 .tn-elem[data-elem-id="1693908719447"] .tn-atom:hover {
        border-color: #ffffff;
    }
}

@media screen and (max-width: 1199px) {
}

@media screen and (max-width: 959px) {
}

@media screen and (max-width: 639px) {
    #rec636199760 .tn-elem[data-elem-id="1693908719447"] {
        top: 185px;
        left: calc(50% - 240px + 0px);
    }
}

@media screen and (max-width: 479px) {
    #rec636199760 .tn-elem[data-elem-id="1693908719447"] {
        top: 251px;
        left: calc(50% - 160px + 10px);
        width: 115px;
    }

    #rec636199760 .tn-elem[data-elem-id="1693908719447"] .tn-atom {
        font-size: 11px;
    }
}

#rec636199760 .tn-elem[data-elem-id="1693908719451"] {
    z-index: 11;
    top: 161px;
    left: calc(50% - 600px + 16px);
    width: 23px;
    height: 1px;
}

#rec636199760 .tn-elem[data-elem-id="1693908719451"] .tn-atom {
    background-position: center center;
    border-color: transparent ;
    border-style: solid ;
}

@media screen and (max-width: 1199px) {
}

@media screen and (max-width: 959px) {
}

@media screen and (max-width: 639px) {
    #rec636199760 .tn-elem[data-elem-id="1693908719451"] {
        top: 201px;
        left: calc(50% - 240px + 16px);
        height: 1px;
    }
}

@media screen and (max-width: 479px) {
    #rec636199760 .tn-elem[data-elem-id="1693908719451"] {
        top: 267px;
        left: calc(50% - 160px + 26px);
        height: 1px;
    }
}
