#rec628987606 .t396__artboard {
    height: 620px;
    background-color: #0b1b29;
}

#rec628987606 .t396__filter {
    height: 620px;
}

#rec628987606 .t396__carrier {
    height: 620px;
    background-position: center center;
    background-attachment: scroll;
    background-size: cover;
    background-repeat: no-repeat;
}

@media screen and (max-width: 1199px) {
    #rec628987606 .t396__artboard,#rec628987606 .t396__filter,#rec628987606 .t396__carrier {
    }

    #rec628987606 .t396__filter {
    }

    #rec628987606 .t396__carrier {
        background-attachment: scroll;
    }
}

@media screen and (max-width: 959px) {
    #rec628987606 .t396__artboard,#rec628987606 .t396__filter,#rec628987606 .t396__carrier {
        height: 636px;
    }

    #rec628987606 .t396__filter {
    }

    #rec628987606 .t396__carrier {
        background-attachment: scroll;
    }
}

@media screen and (max-width: 639px) {
    #rec628987606 .t396__artboard,#rec628987606 .t396__filter,#rec628987606 .t396__carrier {
        height: 972px;
    }

    #rec628987606 .t396__filter {
    }

    #rec628987606 .t396__carrier {
        background-attachment: scroll;
    }
}

@media screen and (max-width: 479px) {
    #rec628987606 .t396__artboard,#rec628987606 .t396__filter,#rec628987606 .t396__carrier {
        height: 1086px;
    }

    #rec628987606 .t396__filter {
    }

    #rec628987606 .t396__carrier {
        background-attachment: scroll;
    }
}

#rec628987606 .tn-elem[data-elem-id="1692258536318"] {
    z-index: 2;
    top: 408px;
    left: calc(50% - 600px + -360px);
    width: 2px;
}

#rec628987606 .tn-elem[data-elem-id="1692258536318"] .tn-atom {
    background-position: center center;
    border-color: transparent ;
    border-style: solid ;
}

#rec628987606 .tn-elem[data-elem-id="1692258536318"] .tn-atom__vector svg {
    display: block;
}

@media screen and (max-width: 1199px) {
}

@media screen and (max-width: 959px) {
}

@media screen and (max-width: 639px) {
}

@media screen and (max-width: 479px) {
}

#rec628987606 .tn-elem[data-elem-id="1692258536322"] {
    z-index: 3;
    top: 0px;
    left: calc(50% - 600px + -360px);
    width: 2px;
}

#rec628987606 .tn-elem[data-elem-id="1692258536322"] .tn-atom {
    background-position: center center;
    border-color: transparent ;
    border-style: solid ;
}

#rec628987606 .tn-elem[data-elem-id="1692258536322"] .tn-atom__vector svg {
    display: block;
}

@media screen and (max-width: 1199px) {
}

@media screen and (max-width: 959px) {
}

@media screen and (max-width: 639px) {
}

@media screen and (max-width: 479px) {
}

#rec628987606 .tn-elem[data-elem-id="1692258536339"] {
    z-index: 4;
    top: 0px;
    left: calc(50% - 600px + -360px);
    width: 2px;
}

#rec628987606 .tn-elem[data-elem-id="1692258536339"] .tn-atom {
    background-position: center center;
    border-color: transparent ;
    border-style: solid ;
}

#rec628987606 .tn-elem[data-elem-id="1692258536339"] .tn-atom__vector svg {
    display: block;
}

@media screen and (max-width: 1199px) {
}

@media screen and (max-width: 959px) {
}

@media screen and (max-width: 639px) {
}

@media screen and (max-width: 479px) {
}

#rec628987606 .tn-elem[data-elem-id="1692258536341"] {
    z-index: 5;
    top: 718px;
    left: calc(50% - 600px + -360px);
    width: 2px;
}

#rec628987606 .tn-elem[data-elem-id="1692258536341"] .tn-atom {
    background-position: center center;
    border-color: transparent ;
    border-style: solid ;
}

#rec628987606 .tn-elem[data-elem-id="1692258536341"] .tn-atom__vector svg {
    display: block;
}

@media screen and (max-width: 1199px) {
}

@media screen and (max-width: 959px) {
}

@media screen and (max-width: 639px) {
}

@media screen and (max-width: 479px) {
}

#rec628987606 .tn-elem[data-elem-id="1692258536343"] {
    z-index: 6;
    top: 100px;
    left: calc(50% - 600px + 0px);
    width: 1200px;
    height: 520px;
}

#rec628987606 .tn-elem[data-elem-id="1692258536343"] .tn-atom {
    background-color: #0f2438;
    background-position: center center;
    border-color: transparent ;
    border-style: solid ;
}

@media screen and (max-width: 1199px) {
    #rec628987606 .tn-elem[data-elem-id="1692258536343"] {
        top: 99px;
        left: calc(50% - 480px + -32px);
        width: 1024px;
    }
}

@media screen and (max-width: 959px) {
    #rec628987606 .tn-elem[data-elem-id="1692258536343"] {
        top: 0px;
        left: calc(50% - 320px + 0px);
        width: 640px;
        height: 230px;
    }
}

@media screen and (max-width: 639px) {
    #rec628987606 .tn-elem[data-elem-id="1692258536343"] {
        left: calc(50% - 240px + -80px);
    }
}

@media screen and (max-width: 479px) {
    #rec628987606 .tn-elem[data-elem-id="1692258536343"] {
        top: 320px;
        left: calc(50% - 160px + -65px);
        width: 450px;
        height: 735px;
    }
}

#rec628987606 .tn-elem[data-elem-id="1692258536373"] {
    color: #ffffff;
    text-align: LEFT;
    z-index: 7;
    top: 251px;
    left: calc(50% - 600px + 470px);
    width: 242px;
}

#rec628987606 .tn-elem[data-elem-id="1692258536373"] .tn-atom {
    color: #ffffff;
    font-size: 16px;
    font-family: 'Arial',Arial,sans-serif;
    line-height: 1.13;
    font-weight: 400;
    background-position: center center;
    border-color: transparent ;
    border-style: solid ;
}

@media screen and (max-width: 1199px) {
    #rec628987606 .tn-elem[data-elem-id="1692258536373"] {
        top: 261px;
        left: calc(50% - 480px + 353px);
    }
}

@media screen and (max-width: 959px) {
    #rec628987606 .tn-elem[data-elem-id="1692258536373"] {
        top: 280px;
        left: calc(50% - 320px + 18px);
    }
}

@media screen and (max-width: 639px) {
    #rec628987606 .tn-elem[data-elem-id="1692258536373"] {
        top: 260px;
        left: calc(50% - 240px + 20px);
    }
}

@media screen and (max-width: 479px) {
    #rec628987606 .tn-elem[data-elem-id="1692258536373"] {
        top: 453px;
        left: calc(50% - 160px + 20px);
    }
}

#rec628987606 .tn-elem[data-elem-id="1692258536374"] {
    z-index: 8;
    top: 255px;
    left: calc(50% - 600px + 732px);
    width: 12px;
}

#rec628987606 .tn-elem.t396__elem--anim-hidden[data-elem-id="1692258536374"] {
    opacity: 0;
}

#rec628987606 .tn-elem[data-elem-id="1692258536374"] .tn-atom {
    background-position: center center;
    border-color: transparent ;
    border-style: solid ;
}

#rec628987606 .tn-elem[data-elem-id="1692258536374"] .tn-atom__vector svg {
    display: block;
}

@media screen and (max-width: 1199px) {
    #rec628987606 .tn-elem[data-elem-id="1692258536374"] {
        top: 265px;
        left: calc(50% - 480px + 616px);
    }
}

@media screen and (max-width: 959px) {
    #rec628987606 .tn-elem[data-elem-id="1692258536374"] {
        top: 284px;
        left: calc(50% - 320px + 280px);
    }
}

@media screen and (max-width: 639px) {
    #rec628987606 .tn-elem[data-elem-id="1692258536374"] {
        top: 264px;
        left: calc(50% - 240px + 448px);
    }
}

@media screen and (max-width: 479px) {
    #rec628987606 .tn-elem[data-elem-id="1692258536374"] {
        top: 457px;
        left: calc(50% - 160px + -20px);
    }
}

#rec628987606 .tn-elem[data-elem-id="1692258536375"] {
    color: #ffffff;
    text-align: LEFT;
    z-index: 9;
    top: 306px;
    left: calc(50% - 600px + 470px);
    width: 242px;
}

#rec628987606 .tn-elem[data-elem-id="1692258536375"] .tn-atom {
    color: #ffffff;
    font-size: 16px;
    font-family: 'Arial',Arial,sans-serif;
    line-height: 1.13;
    font-weight: 400;
    background-position: center center;
    border-color: transparent ;
    border-style: solid ;
}

@media screen and (max-width: 1199px) {
    #rec628987606 .tn-elem[data-elem-id="1692258536375"] {
        top: 317px;
        left: calc(50% - 480px + 353px);
    }
}

@media screen and (max-width: 959px) {
    #rec628987606 .tn-elem[data-elem-id="1692258536375"] {
        top: 336px;
        left: calc(50% - 320px + 18px);
    }
}

@media screen and (max-width: 639px) {
    #rec628987606 .tn-elem[data-elem-id="1692258536375"] {
        top: 318px;
        left: calc(50% - 240px + 20px);
    }
}

@media screen and (max-width: 479px) {
    #rec628987606 .tn-elem[data-elem-id="1692258536375"] {
        top: 501px;
        left: calc(50% - 160px + 20px);
    }
}

#rec628987606 .tn-elem[data-elem-id="1692258536377"] {
    z-index: 10;
    top: 310px;
    left: calc(50% - 600px + 732px);
    width: 12px;
}

#rec628987606 .tn-elem.t396__elem--anim-hidden[data-elem-id="1692258536377"] {
    opacity: 0;
}

#rec628987606 .tn-elem[data-elem-id="1692258536377"] .tn-atom {
    background-position: center center;
    border-color: transparent ;
    border-style: solid ;
}

#rec628987606 .tn-elem[data-elem-id="1692258536377"] .tn-atom__vector svg {
    display: block;
}

@media screen and (max-width: 1199px) {
    #rec628987606 .tn-elem[data-elem-id="1692258536377"] {
        top: 320px;
        left: calc(50% - 480px + 616px);
    }
}

@media screen and (max-width: 959px) {
    #rec628987606 .tn-elem[data-elem-id="1692258536377"] {
        top: 339px;
        left: calc(50% - 320px + 280px);
    }
}

@media screen and (max-width: 639px) {
    #rec628987606 .tn-elem[data-elem-id="1692258536377"] {
        top: 321px;
        left: calc(50% - 240px + 448px);
    }
}

@media screen and (max-width: 479px) {
    #rec628987606 .tn-elem[data-elem-id="1692258536377"] {
        top: 504px;
        left: calc(50% - 160px + -20px);
    }
}

#rec628987606 .tn-elem[data-elem-id="1692258536378"] {
    color: #ffffff;
    text-align: LEFT;
    z-index: 11;
    top: 361px;
    left: calc(50% - 600px + 470px);
    width: 242px;
}

#rec628987606 .tn-elem[data-elem-id="1692258536378"] .tn-atom {
    color: #ffffff;
    font-size: 16px;
    font-family: 'Arial',Arial,sans-serif;
    line-height: 1.13;
    font-weight: 400;
    background-position: center center;
    border-color: transparent ;
    border-style: solid ;
}

@media screen and (max-width: 1199px) {
    #rec628987606 .tn-elem[data-elem-id="1692258536378"] {
        top: 372px;
        left: calc(50% - 480px + 353px);
    }
}

@media screen and (max-width: 959px) {
    #rec628987606 .tn-elem[data-elem-id="1692258536378"] {
        top: 391px;
        left: calc(50% - 320px + 18px);
    }
}

@media screen and (max-width: 639px) {
    #rec628987606 .tn-elem[data-elem-id="1692258536378"] {
        top: 376px;
        left: calc(50% - 240px + 20px);
    }
}

@media screen and (max-width: 479px) {
    #rec628987606 .tn-elem[data-elem-id="1692258536378"] {
        top: 549px;
        left: calc(50% - 160px + 20px);
    }
}

#rec628987606 .tn-elem[data-elem-id="1692258536380"] {
    z-index: 12;
    top: 365px;
    left: calc(50% - 600px + 732px);
    width: 12px;
}

#rec628987606 .tn-elem.t396__elem--anim-hidden[data-elem-id="1692258536380"] {
    opacity: 0;
}

#rec628987606 .tn-elem[data-elem-id="1692258536380"] .tn-atom {
    background-position: center center;
    border-color: transparent ;
    border-style: solid ;
}

#rec628987606 .tn-elem[data-elem-id="1692258536380"] .tn-atom__vector svg {
    display: block;
}

@media screen and (max-width: 1199px) {
    #rec628987606 .tn-elem[data-elem-id="1692258536380"] {
        top: 375px;
        left: calc(50% - 480px + 616px);
    }
}

@media screen and (max-width: 959px) {
    #rec628987606 .tn-elem[data-elem-id="1692258536380"] {
        top: 394px;
        left: calc(50% - 320px + 280px);
    }
}

@media screen and (max-width: 639px) {
    #rec628987606 .tn-elem[data-elem-id="1692258536380"] {
        top: 379px;
        left: calc(50% - 240px + 448px);
    }
}

@media screen and (max-width: 479px) {
    #rec628987606 .tn-elem[data-elem-id="1692258536380"] {
        top: 552px;
        left: calc(50% - 160px + -20px);
    }
}

#rec628987606 .tn-elem[data-elem-id="1692258536381"] {
    color: #ffffff;
    text-align: LEFT;
    z-index: 13;
    top: 416px;
    left: calc(50% - 600px + 470px);
    width: 242px;
}

#rec628987606 .tn-elem[data-elem-id="1692258536381"] .tn-atom {
    color: #ffffff;
    font-size: 16px;
    font-family: 'Arial',Arial,sans-serif;
    line-height: 1.13;
    font-weight: 400;
    background-position: center center;
    border-color: transparent ;
    border-style: solid ;
}

@media screen and (max-width: 1199px) {
    #rec628987606 .tn-elem[data-elem-id="1692258536381"] {
        top: 427px;
        left: calc(50% - 480px + 353px);
    }
}

@media screen and (max-width: 959px) {
    #rec628987606 .tn-elem[data-elem-id="1692258536381"] {
        top: 446px;
        left: calc(50% - 320px + 18px);
    }
}

@media screen and (max-width: 639px) {
    #rec628987606 .tn-elem[data-elem-id="1692258536381"] {
        top: 434px;
        left: calc(50% - 240px + 20px);
    }
}

@media screen and (max-width: 479px) {
    #rec628987606 .tn-elem[data-elem-id="1692258536381"] {
        top: 597px;
        left: calc(50% - 160px + 20px);
    }
}

#rec628987606 .tn-elem[data-elem-id="1692258536383"] {
    z-index: 14;
    top: 420px;
    left: calc(50% - 600px + 732px);
    width: 12px;
}

#rec628987606 .tn-elem.t396__elem--anim-hidden[data-elem-id="1692258536383"] {
    opacity: 0;
}

#rec628987606 .tn-elem[data-elem-id="1692258536383"] .tn-atom {
    background-position: center center;
    border-color: transparent ;
    border-style: solid ;
}

#rec628987606 .tn-elem[data-elem-id="1692258536383"] .tn-atom__vector svg {
    display: block;
}

@media screen and (max-width: 1199px) {
    #rec628987606 .tn-elem[data-elem-id="1692258536383"] {
        top: 430px;
        left: calc(50% - 480px + 616px);
    }
}

@media screen and (max-width: 959px) {
    #rec628987606 .tn-elem[data-elem-id="1692258536383"] {
        top: 449px;
        left: calc(50% - 320px + 280px);
    }
}

@media screen and (max-width: 639px) {
    #rec628987606 .tn-elem[data-elem-id="1692258536383"] {
        top: 437px;
        left: calc(50% - 240px + 448px);
    }
}

@media screen and (max-width: 479px) {
    #rec628987606 .tn-elem[data-elem-id="1692258536383"] {
        top: 600px;
        left: calc(50% - 160px + -20px);
    }
}

#rec628987606 .tn-elem[data-elem-id="1692258536384"] {
    color: #ffffff;
    text-align: LEFT;
    z-index: 15;
    top: 471px;
    left: calc(50% - 600px + 470px);
    width: 242px;
}

#rec628987606 .tn-elem[data-elem-id="1692258536384"] .tn-atom {
    color: #ffffff;
    font-size: 16px;
    font-family: 'Arial',Arial,sans-serif;
    line-height: 1.13;
    font-weight: 400;
    background-position: center center;
    border-color: transparent ;
    border-style: solid ;
}

@media screen and (max-width: 1199px) {
    #rec628987606 .tn-elem[data-elem-id="1692258536384"] {
        top: 481px;
        left: calc(50% - 480px + 353px);
    }
}

@media screen and (max-width: 959px) {
    #rec628987606 .tn-elem[data-elem-id="1692258536384"] {
        top: 500px;
        left: calc(50% - 320px + 18px);
    }
}

@media screen and (max-width: 639px) {
    #rec628987606 .tn-elem[data-elem-id="1692258536384"] {
        top: 492px;
        left: calc(50% - 240px + 20px);
    }
}

@media screen and (max-width: 479px) {
    #rec628987606 .tn-elem[data-elem-id="1692258536384"] {
        top: 645px;
        left: calc(50% - 160px + 20px);
    }
}

#rec628987606 .tn-elem[data-elem-id="1692258536385"] {
    z-index: 16;
    top: 475px;
    left: calc(50% - 600px + 732px);
    width: 12px;
}

#rec628987606 .tn-elem.t396__elem--anim-hidden[data-elem-id="1692258536385"] {
    opacity: 0;
}

#rec628987606 .tn-elem[data-elem-id="1692258536385"] .tn-atom {
    background-position: center center;
    border-color: transparent ;
    border-style: solid ;
}

#rec628987606 .tn-elem[data-elem-id="1692258536385"] .tn-atom__vector svg {
    display: block;
}

@media screen and (max-width: 1199px) {
    #rec628987606 .tn-elem[data-elem-id="1692258536385"] {
        top: 485px;
        left: calc(50% - 480px + 616px);
    }
}

@media screen and (max-width: 959px) {
    #rec628987606 .tn-elem[data-elem-id="1692258536385"] {
        top: 504px;
        left: calc(50% - 320px + 280px);
    }
}

@media screen and (max-width: 639px) {
    #rec628987606 .tn-elem[data-elem-id="1692258536385"] {
        top: 496px;
        left: calc(50% - 240px + 448px);
    }
}

@media screen and (max-width: 479px) {
    #rec628987606 .tn-elem[data-elem-id="1692258536385"] {
        top: 649px;
        left: calc(50% - 160px + -20px);
    }
}

#rec628987606 .tn-elem[data-elem-id="1692258536387"] {
    color: #ffffff;
    text-align: LEFT;
    z-index: 17;
    top: 526px;
    left: calc(50% - 600px + 470px);
    width: 242px;
}

#rec628987606 .tn-elem[data-elem-id="1692258536387"] .tn-atom {
    color: #ffffff;
    font-size: 16px;
    font-family: 'Arial',Arial,sans-serif;
    line-height: 1.13;
    font-weight: 400;
    background-position: center center;
    border-color: transparent ;
    border-style: solid ;
}

@media screen and (max-width: 1199px) {
    #rec628987606 .tn-elem[data-elem-id="1692258536387"] {
        top: 536px;
        left: calc(50% - 480px + 353px);
    }
}

@media screen and (max-width: 959px) {
    #rec628987606 .tn-elem[data-elem-id="1692258536387"] {
        top: 555px;
        left: calc(50% - 320px + 18px);
    }
}

@media screen and (max-width: 639px) {
    #rec628987606 .tn-elem[data-elem-id="1692258536387"] {
        top: 550px;
        left: calc(50% - 240px + 20px);
    }
}

@media screen and (max-width: 479px) {
    #rec628987606 .tn-elem[data-elem-id="1692258536387"] {
        top: 693px;
        left: calc(50% - 160px + 20px);
    }
}

#rec628987606 .tn-elem[data-elem-id="1692258536388"] {
    z-index: 18;
    top: 530px;
    left: calc(50% - 600px + 732px);
    width: 12px;
}

#rec628987606 .tn-elem.t396__elem--anim-hidden[data-elem-id="1692258536388"] {
    opacity: 0;
}

#rec628987606 .tn-elem[data-elem-id="1692258536388"] .tn-atom {
    background-position: center center;
    border-color: transparent ;
    border-style: solid ;
}

#rec628987606 .tn-elem[data-elem-id="1692258536388"] .tn-atom__vector svg {
    display: block;
}

@media screen and (max-width: 1199px) {
    #rec628987606 .tn-elem[data-elem-id="1692258536388"] {
        top: 540px;
        left: calc(50% - 480px + 616px);
    }
}

@media screen and (max-width: 959px) {
    #rec628987606 .tn-elem[data-elem-id="1692258536388"] {
        top: 559px;
        left: calc(50% - 320px + 280px);
    }
}

@media screen and (max-width: 639px) {
    #rec628987606 .tn-elem[data-elem-id="1692258536388"] {
        top: 554px;
        left: calc(50% - 240px + 448px);
    }
}

@media screen and (max-width: 479px) {
    #rec628987606 .tn-elem[data-elem-id="1692258536388"] {
        top: 696px;
        left: calc(50% - 160px + -20px);
    }
}

#rec628987606 .tn-elem[data-elem-id="1692258536389"] {
    color: #ffffff;
    text-align: LEFT;
    z-index: 19;
    top: 145px;
    left: calc(50% - 600px + 470px);
    width: 539px;
}

#rec628987606 .tn-elem[data-elem-id="1692258536389"] .tn-atom {
    color: #ffffff;
    font-size: 30px;
    font-family: 'Unbounded',Arial,sans-serif;
    line-height: 1.17;
    font-weight: 600;
    background-position: center center;
    border-color: transparent ;
    border-style: solid ;
}

@media screen and (max-width: 1199px) {
    #rec628987606 .tn-elem[data-elem-id="1692258536389"] {
        top: 137px;
        left: calc(50% - 480px + 353px);
    }
}

@media screen and (max-width: 959px) {
    #rec628987606 .tn-elem[data-elem-id="1692258536389"] {
        top: 80px;
        left: calc(50% - 320px + 20px);
        width: 297px;
    }
}

@media screen and (max-width: 639px) {
    #rec628987606 .tn-elem[data-elem-id="1692258536389"] {
        left: calc(50% - 240px + 0px);
    }
}

@media screen and (max-width: 479px) {
    #rec628987606 .tn-elem[data-elem-id="1692258536389"] {
        top: 352px;
        left: calc(50% - 160px + 20px);
    }

    #rec628987606 .tn-elem[data-elem-id="1692258536389"] .tn-atom {
        font-size: 30px;
    }
}

#rec628987606 .tn-elem[data-elem-id="1692258536391"] {
    z-index: 20;
    top: 100px;
    left: calc(50% - 600px + 0px);
    width: 405px;
    height: 520px;
}

#rec628987606 .tn-elem[data-elem-id="1692258536391"] .tn-atom {
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    border-color: transparent ;
    border-style: solid ;
}

@media screen and (max-width: 1199px) {
    #rec628987606 .tn-elem[data-elem-id="1692258536391"] {
        top: 99px;
        left: calc(50% - 480px + -32px);
        width: 351px;
        height: 515px;
    }
}

@media screen and (max-width: 959px) {
    #rec628987606 .tn-elem[data-elem-id="1692258536391"] {
        top: 0px;
        left: calc(50% - 320px + 320px);
        width: 320px;
        height: 230px;
    }
}

@media screen and (max-width: 639px) {
    #rec628987606 .tn-elem[data-elem-id="1692258536391"] {
        left: calc(50% - 240px + 280px);
        width: 200px;
        height: 230px;
    }
}

@media screen and (max-width: 479px) {
    #rec628987606 .tn-elem[data-elem-id="1692258536391"] {
        top: 0px;
        left: calc(50% - 160px + -65px);
        width: 450px;
        height: 320px;
    }
}

#rec628987606 .tn-elem[data-elem-id="1692258536353"] {
    color: #ffffff;
    text-align: LEFT;
    z-index: 21;
    top: 251px;
    left: calc(50% - 600px + 827px);
    width: 242px;
}

#rec628987606 .tn-elem[data-elem-id="1692258536353"] .tn-atom {
    color: #ffffff;
    font-size: 16px;
    font-family: 'Arial',Arial,sans-serif;
    line-height: 1.13;
    font-weight: 400;
    background-position: center center;
    border-color: transparent ;
    border-style: solid ;
}

@media screen and (max-width: 1199px) {
    #rec628987606 .tn-elem[data-elem-id="1692258536353"] {
        top: 261px;
        left: calc(50% - 480px + 667px);
    }
}

@media screen and (max-width: 959px) {
    #rec628987606 .tn-elem[data-elem-id="1692258536353"] {
        top: 280px;
        left: calc(50% - 320px + 332px);
    }
}

@media screen and (max-width: 639px) {
    #rec628987606 .tn-elem[data-elem-id="1692258536353"] {
        top: 608px;
        left: calc(50% - 240px + 21px);
    }
}

@media screen and (max-width: 479px) {
    #rec628987606 .tn-elem[data-elem-id="1692258536353"] {
        top: 741px;
        left: calc(50% - 160px + 21px);
    }
}

#rec628987606 .tn-elem[data-elem-id="1692258536356"] {
    z-index: 22;
    top: 255px;
    left: calc(50% - 600px + 1089px);
    width: 12px;
}

#rec628987606 .tn-elem.t396__elem--anim-hidden[data-elem-id="1692258536356"] {
    opacity: 0;
}

#rec628987606 .tn-elem[data-elem-id="1692258536356"] .tn-atom {
    background-position: center center;
    border-color: transparent ;
    border-style: solid ;
}

#rec628987606 .tn-elem[data-elem-id="1692258536356"] .tn-atom__vector svg {
    display: block;
}

@media screen and (max-width: 1199px) {
    #rec628987606 .tn-elem[data-elem-id="1692258536356"] {
        top: 265px;
        left: calc(50% - 480px + 929px);
    }
}

@media screen and (max-width: 959px) {
    #rec628987606 .tn-elem[data-elem-id="1692258536356"] {
        top: 284px;
        left: calc(50% - 320px + 593px);
    }
}

@media screen and (max-width: 639px) {
    #rec628987606 .tn-elem[data-elem-id="1692258536356"] {
        top: 612px;
        left: calc(50% - 240px + 448px);
    }
}

@media screen and (max-width: 479px) {
    #rec628987606 .tn-elem[data-elem-id="1692258536356"] {
        top: 744px;
        left: calc(50% - 160px + -20px);
    }
}

#rec628987606 .tn-elem[data-elem-id="1692258536359"] {
    color: #ffffff;
    text-align: LEFT;
    z-index: 23;
    top: 306px;
    left: calc(50% - 600px + 827px);
    width: 242px;
}

#rec628987606 .tn-elem[data-elem-id="1692258536359"] .tn-atom {
    color: #ffffff;
    font-size: 16px;
    font-family: 'Arial',Arial,sans-serif;
    line-height: 1.13;
    font-weight: 400;
    background-position: center center;
    border-color: transparent ;
    border-style: solid ;
}

@media screen and (max-width: 1199px) {
    #rec628987606 .tn-elem[data-elem-id="1692258536359"] {
        top: 317px;
        left: calc(50% - 480px + 667px);
    }
}

@media screen and (max-width: 959px) {
    #rec628987606 .tn-elem[data-elem-id="1692258536359"] {
        top: 336px;
        left: calc(50% - 320px + 332px);
    }
}

@media screen and (max-width: 639px) {
    #rec628987606 .tn-elem[data-elem-id="1692258536359"] {
        top: 666px;
        left: calc(50% - 240px + 21px);
    }
}

@media screen and (max-width: 479px) {
    #rec628987606 .tn-elem[data-elem-id="1692258536359"] {
        top: 789px;
        left: calc(50% - 160px + 21px);
    }
}

#rec628987606 .tn-elem[data-elem-id="1692258536361"] {
    z-index: 24;
    top: 310px;
    left: calc(50% - 600px + 1089px);
    width: 12px;
}

#rec628987606 .tn-elem.t396__elem--anim-hidden[data-elem-id="1692258536361"] {
    opacity: 0;
}

#rec628987606 .tn-elem[data-elem-id="1692258536361"] .tn-atom {
    background-position: center center;
    border-color: transparent ;
    border-style: solid ;
}

#rec628987606 .tn-elem[data-elem-id="1692258536361"] .tn-atom__vector svg {
    display: block;
}

@media screen and (max-width: 1199px) {
    #rec628987606 .tn-elem[data-elem-id="1692258536361"] {
        top: 320px;
        left: calc(50% - 480px + 929px);
    }
}

@media screen and (max-width: 959px) {
    #rec628987606 .tn-elem[data-elem-id="1692258536361"] {
        top: 339px;
        left: calc(50% - 320px + 593px);
    }
}

@media screen and (max-width: 639px) {
    #rec628987606 .tn-elem[data-elem-id="1692258536361"] {
        top: 669px;
        left: calc(50% - 240px + 448px);
    }
}

@media screen and (max-width: 479px) {
    #rec628987606 .tn-elem[data-elem-id="1692258536361"] {
        top: 792px;
        left: calc(50% - 160px + -20px);
    }
}

#rec628987606 .tn-elem[data-elem-id="1692258536363"] {
    color: #ffffff;
    text-align: LEFT;
    z-index: 25;
    top: 361px;
    left: calc(50% - 600px + 827px);
    width: 242px;
}

#rec628987606 .tn-elem[data-elem-id="1692258536363"] .tn-atom {
    color: #ffffff;
    font-size: 16px;
    font-family: 'Arial',Arial,sans-serif;
    line-height: 1.13;
    font-weight: 400;
    background-position: center center;
    border-color: transparent ;
    border-style: solid ;
}

@media screen and (max-width: 1199px) {
    #rec628987606 .tn-elem[data-elem-id="1692258536363"] {
        top: 372px;
        left: calc(50% - 480px + 667px);
    }
}

@media screen and (max-width: 959px) {
    #rec628987606 .tn-elem[data-elem-id="1692258536363"] {
        top: 391px;
        left: calc(50% - 320px + 332px);
    }
}

@media screen and (max-width: 639px) {
    #rec628987606 .tn-elem[data-elem-id="1692258536363"] {
        top: 724px;
        left: calc(50% - 240px + 21px);
    }
}

@media screen and (max-width: 479px) {
    #rec628987606 .tn-elem[data-elem-id="1692258536363"] {
        top: 837px;
        left: calc(50% - 160px + 21px);
    }
}

#rec628987606 .tn-elem[data-elem-id="1692258536365"] {
    z-index: 26;
    top: 365px;
    left: calc(50% - 600px + 1089px);
    width: 12px;
}

#rec628987606 .tn-elem.t396__elem--anim-hidden[data-elem-id="1692258536365"] {
    opacity: 0;
}

#rec628987606 .tn-elem[data-elem-id="1692258536365"] .tn-atom {
    background-position: center center;
    border-color: transparent ;
    border-style: solid ;
}

#rec628987606 .tn-elem[data-elem-id="1692258536365"] .tn-atom__vector svg {
    display: block;
}

@media screen and (max-width: 1199px) {
    #rec628987606 .tn-elem[data-elem-id="1692258536365"] {
        top: 375px;
        left: calc(50% - 480px + 929px);
    }
}

@media screen and (max-width: 959px) {
    #rec628987606 .tn-elem[data-elem-id="1692258536365"] {
        top: 394px;
        left: calc(50% - 320px + 593px);
    }
}

@media screen and (max-width: 639px) {
    #rec628987606 .tn-elem[data-elem-id="1692258536365"] {
        top: 727px;
        left: calc(50% - 240px + 448px);
    }
}

@media screen and (max-width: 479px) {
    #rec628987606 .tn-elem[data-elem-id="1692258536365"] {
        top: 840px;
        left: calc(50% - 160px + -20px);
    }
}

#rec628987606 .tn-elem[data-elem-id="1692258536367"] {
    color: #ffffff;
    text-align: LEFT;
    z-index: 27;
    top: 416px;
    left: calc(50% - 600px + 827px);
    width: 242px;
}

#rec628987606 .tn-elem[data-elem-id="1692258536367"] .tn-atom {
    color: #ffffff;
    font-size: 16px;
    font-family: 'Arial',Arial,sans-serif;
    line-height: 1.13;
    font-weight: 400;
    background-position: center center;
    border-color: transparent ;
    border-style: solid ;
}

@media screen and (max-width: 1199px) {
    #rec628987606 .tn-elem[data-elem-id="1692258536367"] {
        top: 427px;
        left: calc(50% - 480px + 667px);
    }
}

@media screen and (max-width: 959px) {
    #rec628987606 .tn-elem[data-elem-id="1692258536367"] {
        top: 446px;
        left: calc(50% - 320px + 332px);
    }
}

@media screen and (max-width: 639px) {
    #rec628987606 .tn-elem[data-elem-id="1692258536367"] {
        top: 782px;
        left: calc(50% - 240px + 21px);
    }
}

@media screen and (max-width: 479px) {
    #rec628987606 .tn-elem[data-elem-id="1692258536367"] {
        top: 885px;
        left: calc(50% - 160px + 21px);
    }
}

#rec628987606 .tn-elem[data-elem-id="1692258536368"] {
    z-index: 28;
    top: 420px;
    left: calc(50% - 600px + 1089px);
    width: 12px;
}

#rec628987606 .tn-elem.t396__elem--anim-hidden[data-elem-id="1692258536368"] {
    opacity: 0;
}

#rec628987606 .tn-elem[data-elem-id="1692258536368"] .tn-atom {
    background-position: center center;
    border-color: transparent ;
    border-style: solid ;
}

#rec628987606 .tn-elem[data-elem-id="1692258536368"] .tn-atom__vector svg {
    display: block;
}

@media screen and (max-width: 1199px) {
    #rec628987606 .tn-elem[data-elem-id="1692258536368"] {
        top: 430px;
        left: calc(50% - 480px + 929px);
    }
}

@media screen and (max-width: 959px) {
    #rec628987606 .tn-elem[data-elem-id="1692258536368"] {
        top: 449px;
        left: calc(50% - 320px + 593px);
    }
}

@media screen and (max-width: 639px) {
    #rec628987606 .tn-elem[data-elem-id="1692258536368"] {
        top: 785px;
        left: calc(50% - 240px + 448px);
    }
}

@media screen and (max-width: 479px) {
    #rec628987606 .tn-elem[data-elem-id="1692258536368"] {
        top: 888px;
        left: calc(50% - 160px + -20px);
    }
}

#rec628987606 .tn-elem[data-elem-id="1692258536370"] {
    color: #ffffff;
    text-align: LEFT;
    z-index: 29;
    top: 471px;
    left: calc(50% - 600px + 827px);
    width: 242px;
}

#rec628987606 .tn-elem[data-elem-id="1692258536370"] .tn-atom {
    color: #ffffff;
    font-size: 16px;
    font-family: 'Arial',Arial,sans-serif;
    line-height: 1.13;
    font-weight: 400;
    background-position: center center;
    border-color: transparent ;
    border-style: solid ;
}

@media screen and (max-width: 1199px) {
    #rec628987606 .tn-elem[data-elem-id="1692258536370"] {
        top: 481px;
        left: calc(50% - 480px + 667px);
    }
}

@media screen and (max-width: 959px) {
    #rec628987606 .tn-elem[data-elem-id="1692258536370"] {
        top: 500px;
        left: calc(50% - 320px + 332px);
    }
}

@media screen and (max-width: 639px) {
    #rec628987606 .tn-elem[data-elem-id="1692258536370"] {
        top: 840px;
        left: calc(50% - 240px + 21px);
    }
}

@media screen and (max-width: 479px) {
    #rec628987606 .tn-elem[data-elem-id="1692258536370"] {
        top: 933px;
        left: calc(50% - 160px + 21px);
    }
}

#rec628987606 .tn-elem[data-elem-id="1692258536371"] {
    z-index: 30;
    top: 475px;
    left: calc(50% - 600px + 1089px);
    width: 12px;
}

#rec628987606 .tn-elem.t396__elem--anim-hidden[data-elem-id="1692258536371"] {
    opacity: 0;
}

#rec628987606 .tn-elem[data-elem-id="1692258536371"] .tn-atom {
    background-position: center center;
    border-color: transparent ;
    border-style: solid ;
}

#rec628987606 .tn-elem[data-elem-id="1692258536371"] .tn-atom__vector svg {
    display: block;
}

@media screen and (max-width: 1199px) {
    #rec628987606 .tn-elem[data-elem-id="1692258536371"] {
        top: 485px;
        left: calc(50% - 480px + 929px);
    }
}

@media screen and (max-width: 959px) {
    #rec628987606 .tn-elem[data-elem-id="1692258536371"] {
        top: 504px;
        left: calc(50% - 320px + 593px);
    }
}

@media screen and (max-width: 639px) {
    #rec628987606 .tn-elem[data-elem-id="1692258536371"] {
        top: 844px;
        left: calc(50% - 240px + 448px);
    }
}

@media screen and (max-width: 479px) {
    #rec628987606 .tn-elem[data-elem-id="1692258536371"] {
        top: 938px;
        left: calc(50% - 160px + -20px);
    }
}

#rec628987606 .tn-elem[data-elem-id="1692258536348"] {
    z-index: 31;
    top: 0px;
    left: calc(50% - 600px + 1022px);
    width: 290px;
    height: 290px;
}

#rec628987606 .tn-elem.t396__elem--anim-hidden[data-elem-id="1692258536348"] {
    opacity: 0;
}

#rec628987606 .tn-elem[data-elem-id="1692258536348"] .tn-atom {
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    border-color: transparent ;
    border-style: solid ;
}

@media screen and (max-width: 1199px) {
    #rec628987606 .tn-elem[data-elem-id="1692258536348"] {
        top: 58px;
        left: calc(50% - 480px + 773px);
        width: 204px;
        height: 188px;
    }
}

@media screen and (max-width: 959px) {
    #rec628987606 .tn-elem[data-elem-id="1692258536348"] {
        top: 42px;
        left: calc(50% - 320px + 274px);
    }

    #rec628987606 .tn-elem[data-elem-id="1692258536348"] .tn-atom {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        transform: rotate(0deg);
    }
}

@media screen and (max-width: 639px) {
    #rec628987606 .tn-elem[data-elem-id="1692258536348"] {
        top: -76px;
        left: calc(50% - 240px + 156px);
    }

    #rec628987606 .tn-elem[data-elem-id="1692258536348"] .tn-atom {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        transform: rotate(0deg);
    }
}

@media screen and (max-width: 479px) {
    #rec628987606 .tn-elem[data-elem-id="1692258536348"] {
        top: 209px;
        left: calc(50% - 160px + 186px);
    }
}

#rec628987606 .tn-elem[data-elem-id="1692263576370"] {
    z-index: 32;
    top: 513px;
    left: calc(50% - 600px + 809px);
    width: 310px;
    height: 44px;
}

#rec628987606 .tn-elem[data-elem-id="1692263576370"] .tn-atom {
    border-radius: 3px;
    background-color: #142e47;
    background-position: center center;
    border-color: transparent ;
    border-style: solid ;
}

@media screen and (max-width: 1199px) {
    #rec628987606 .tn-elem[data-elem-id="1692263576370"] {
        top: 523px;
        left: calc(50% - 480px + 648px);
    }
}

@media screen and (max-width: 959px) {
    #rec628987606 .tn-elem[data-elem-id="1692263576370"] {
        top: 542px;
        left: calc(50% - 320px + 313px);
    }
}

@media screen and (max-width: 639px) {
    #rec628987606 .tn-elem[data-elem-id="1692263576370"] {
        top: 878px;
        left: calc(50% - 240px + 20px);
        width: 440px;
    }
}

@media screen and (max-width: 479px) {
    #rec628987606 .tn-elem[data-elem-id="1692263576370"] {
        top: 981px;
        left: calc(50% - 160px + -65px);
        width: 450px;
        height: 75px;
    }
}

#rec628987606 .tn-elem[data-elem-id="1692263372212"] {
    color: #ffffff;
    text-align: LEFT;
    z-index: 33;
    top: 526px;
    left: calc(50% - 600px + 827px);
    width: 242px;
}

#rec628987606 .tn-elem[data-elem-id="1692263372212"] .tn-atom {
    color: #ffffff;
    font-size: 16px;
    font-family: 'Arial',Arial,sans-serif;
    line-height: 1.13;
    font-weight: 400;
    background-position: center center;
    border-color: transparent ;
    border-style: solid ;
}

@media screen and (max-width: 1199px) {
    #rec628987606 .tn-elem[data-elem-id="1692263372212"] {
        top: 536px;
        left: calc(50% - 480px + 667px);
    }
}

@media screen and (max-width: 959px) {
    #rec628987606 .tn-elem[data-elem-id="1692263372212"] {
        top: 555px;
        left: calc(50% - 320px + 332px);
    }
}

@media screen and (max-width: 639px) {
    #rec628987606 .tn-elem[data-elem-id="1692263372212"] {
        top: 891px;
        left: calc(50% - 240px + 170px);
    }
}

@media screen and (max-width: 479px) {
    #rec628987606 .tn-elem[data-elem-id="1692263372212"] {
        top: 1009px;
        left: calc(50% - 160px + 21px);
    }
}

#rec628987606 .tn-elem[data-elem-id="1692263372216"] {
    z-index: 34;
    top: 530px;
    left: calc(50% - 600px + 1089px);
    width: 12px;
}

#rec628987606 .tn-elem.t396__elem--anim-hidden[data-elem-id="1692263372216"] {
    opacity: 0;
}

#rec628987606 .tn-elem[data-elem-id="1692263372216"] .tn-atom {
    background-position: center center;
    border-color: transparent ;
    border-style: solid ;
}

#rec628987606 .tn-elem[data-elem-id="1692263372216"] .tn-atom__vector svg {
    display: block;
}

@media screen and (max-width: 1199px) {
    #rec628987606 .tn-elem[data-elem-id="1692263372216"] {
        top: 540px;
        left: calc(50% - 480px + 929px);
    }
}

@media screen and (max-width: 959px) {
    #rec628987606 .tn-elem[data-elem-id="1692263372216"] {
        top: 559px;
        left: calc(50% - 320px + 593px);
    }
}

@media screen and (max-width: 639px) {
    #rec628987606 .tn-elem[data-elem-id="1692263372216"] {
        top: 895px;
        left: calc(50% - 240px + 278px);
    }
}

@media screen and (max-width: 479px) {
    #rec628987606 .tn-elem[data-elem-id="1692263372216"] {
        top: 1013px;
        left: calc(50% - 160px + -19px);
    }
}

#rec628987606 .tn-elem[data-elem-id="1694509930901"] {
    z-index: 35;
    top: 513px;
    left: calc(50% - 600px + 809px);
    width: 310px;
    height: 44px;
}

#rec628987606 .tn-elem[data-elem-id="1694509930901"] .tn-atom {
    border-radius: 1px;
    background-position: center center;
    border-color: transparent ;
    border-style: solid ;
}

@media screen and (max-width: 1199px) {
    #rec628987606 .tn-elem[data-elem-id="1694509930901"] {
        top: 533pxpx;
        left: calc(50% - 480px + 658pxpx);
    }
}

@media screen and (max-width: 959px) {
    #rec628987606 .tn-elem[data-elem-id="1694509930901"] {
        top: 552pxpx;
        left: calc(50% - 320px + 323pxpx);
    }
}

@media screen and (max-width: 639px) {
    #rec628987606 .tn-elem[data-elem-id="1694509930901"] {
        top: 888pxpx;
        left: calc(50% - 240px + 30px);
        width: 312px;
        height: 34px;
    }
}

@media screen and (max-width: 479px) {
    #rec628987606 .tn-elem[data-elem-id="1694509930901"] {
        top: 991pxpx;
        left: calc(50% - 160px + -55pxpx);
        width: 450px;
        height: 75px;
    }
}