
#rec632818867 .t396__artboard {
    height: 0px;
    background-color: #0b1b29;
    overflow: visible;
}

#rec632818867 .t396__filter {
    height: 0px;
}

#rec632818867 .t396__carrier {
    height: 0px;
    background-position: center center;
    background-attachment: scroll;
    background-size: cover;
    background-repeat: no-repeat;
}

@media screen and (max-width: 1199px) {
    #rec632818867 .t396__artboard,#rec632818867 .t396__filter,#rec632818867 .t396__carrier {
    }

    #rec632818867 .t396__filter {
    }

    #rec632818867 .t396__carrier {
        background-attachment: scroll;
    }
}

@media screen and (max-width: 959px) {
    #rec632818867 .t396__artboard,#rec632818867 .t396__filter,#rec632818867 .t396__carrier {
    }

    #rec632818867 .t396__filter {
    }

    #rec632818867 .t396__carrier {
        background-attachment: scroll;
    }
}

@media screen and (max-width: 639px) {
    #rec632818867 .t396__artboard,#rec632818867 .t396__filter,#rec632818867 .t396__carrier {
    }

    #rec632818867 .t396__filter {
    }

    #rec632818867 .t396__carrier {
        background-attachment: scroll;
    }
}

@media screen and (max-width: 479px) {
    #rec632818867 .t396__artboard,#rec632818867 .t396__filter,#rec632818867 .t396__carrier {
    }

    #rec632818867 .t396__filter {
    }

    #rec632818867 .t396__carrier {
        background-attachment: scroll;
    }
}

#rec632818867 .tn-elem[data-elem-id="1693488549450"] {
    z-index: 2;
    top: 98px;
    left: calc(50% - 600px + 783px);
    width: 335px;
    height: 88px;
    -webkit-filter: blur(50px);
    filter: blur(50px);
    border-radius: 3000px;
}

#rec632818867 .tn-elem[data-elem-id="1693488549450"] .tn-atom {
    border-radius: 3000px;
    background-color: #430f9d;
    background-position: center center;
    border-color: transparent ;
    border-style: solid ;
}

@media screen and (max-width: 1199px) {
    #rec632818867 .tn-elem[data-elem-id="1693488549450"] {
        top: 37px;
        left: calc(50% - 480px + 543px);
    }
}

@media screen and (max-width: 959px) {
    #rec632818867 .tn-elem[data-elem-id="1693488549450"] {
        top: 89px;
        left: calc(50% - 320px + 223px);
    }
}

@media screen and (max-width: 639px) {
    #rec632818867 .tn-elem[data-elem-id="1693488549450"] {
        top: 89px;
        left: calc(50% - 240px + 73px);
    }
}

@media screen and (max-width: 479px) {
    #rec632818867 .tn-elem[data-elem-id="1693488549450"] {
        top: 77px;
        left: calc(50% - 160px + 5px);
        width: 310px;
        height: 140px;
    }
}

#rec632818867 .tn-elem[data-elem-id="1693486889141"] {
    z-index: 3;
    top: 9px;
    left: calc(50% - 600px + 700px);
    width: 500px;
    height: 250px;
}

#rec632818867 .tn-elem[data-elem-id="1693486889141"] .tn-atom {
    background-position: center center;
    border-color: transparent ;
    border-style: solid ;
}

@media screen and (max-width: 1199px) {
    #rec632818867 .tn-elem[data-elem-id="1693486889141"] {
        top: 0px;
        left: calc(50% - 480px + 460px);
    }
}

@media screen and (max-width: 959px) {
    #rec632818867 .tn-elem[data-elem-id="1693486889141"] {
        top: 0px;
        left: calc(50% - 320px + 70px);
    }
}

@media screen and (max-width: 639px) {
    #rec632818867 .tn-elem[data-elem-id="1693486889141"] {
        top: 0px;
        left: calc(50% - 240px + -10px);
    }
}

@media screen and (max-width: 479px) {
    #rec632818867 .tn-elem[data-elem-id="1693486889141"] {
        top: 0px;
        left: calc(50% - 160px + -89px);
        width: 498px;
        height: 250px;
    }
}

#rec632818867 .tn-elem[data-elem-id="1693153230826"] {
    color: #ffffff;
    z-index: 4;
    top: 50px;
    left: calc(50% - 600px + 0px);
    width: 420px;
}

#rec632818867 .tn-elem[data-elem-id="1693153230826"] .tn-atom {
    color: #ffffff;
    font-size: 40px;
    font-family: 'Unbounded',Arial,sans-serif;
    line-height: 1.55;
    font-weight: 600;
    background-position: center center;
    border-color: transparent ;
    border-style: solid ;
}

@media screen and (max-width: 1199px) {
    #rec632818867 .tn-elem[data-elem-id="1693153230826"] {
        top: 41px;
    }
}

@media screen and (max-width: 959px) {
    #rec632818867 .tn-elem[data-elem-id="1693153230826"] {
        top: 49px;
        left: calc(50% - 320px + 110px);
    }

    #rec632818867 .tn-elem[data-elem-id="1693153230826"] {
        text-align: center;
    }

    #rec632818867 .tn-elem[data-elem-id="1693153230826"] .tn-atom {
        font-size: 30px;
    }
}

@media screen and (max-width: 639px) {
    #rec632818867 .tn-elem[data-elem-id="1693153230826"] {
        top: 74px;
        left: calc(50% - 240px + 30px);
    }

    #rec632818867 .tn-elem[data-elem-id="1693153230826"] .tn-atom {
        font-size: 30px;
    }
}

@media screen and (max-width: 479px) {
    #rec632818867 .tn-elem[data-elem-id="1693153230826"] {
        top: 179px;
        left: calc(50% - 160px + 10px);
        width: 268px;
    }

    #rec632818867 .tn-elem[data-elem-id="1693153230826"] {
        text-align: left;
    }

    #rec632818867 .tn-elem[data-elem-id="1693153230826"] .tn-atom {
        font-size: 20px;
    }
}