<div class="t-clear t772__separator"></div>
                        <div class="t-card__col t772__col t-col t-col_4 t-align_left t-item t-animate" data-animate-style="fadeinup" data-animate-chain="yes">
                            <div class="t772__content">
                                <div class="t772__imgwrapper " style="padding-bottom:97.222222222222%;">
                                    <div class="t772__bgimg t-bgimg" data-original="https://static.tildacdn.one/tild6333-6235-4135-b962-346639616335/PHP-Yii.jpg" bgimgfield="li_img__1693472404229" style="background-image:url('https://thb.tildacdn.one/tild6333-6235-4135-b962-346639616335/-/resizeb/20x/PHP-Yii.jpg');" itemscope itemtype="http://schema.org/ImageObject">
                                        <meta itemprop="image" content="https://static.tildacdn.one/tild6333-6235-4135-b962-346639616335/PHP-Yii.jpg">
                                    </div>
                                </div>
                                <div class="t772__textwrapper">
                                    <div class="t-card__title t-name t-name_md" field="li_title__1693472404229">
                                        <a href="/ru/php-yii" class="t-card__link" id="cardtitle7_632940554" aria-labelledby="cardtitle7_632940554 cardbtn7_632940554">
                                            <strong>PHP &amp;Yii программирование</strong>
                                        </a>
                                    </div>
                                    <div class="t-card__descr t-descr t-descr_xxs" field="li_descr__1693472404229">Веб-технологии следующего поколения. Разработка на PHP с использованием Yii.</div>
                                    <style>
                                        #rec632940554 .t-card__title {
                                            color: #ffffff;
                                            font-weight: 500;
                                            font-family: 'Unbounded';
                                        }

                                        #rec632940554 .t-card__descr {
                                            font-size: 15px;
                                            color: #7a96b0;
                                            font-weight: 500;
                                            font-family: 'Arial';
                                        }
                                    </style>
                                </div>
                            </div>
                            <div class="t-card__btntext-wrapper">
                                <div class="t-card__btn-text t-btntext t-btntext_sm " id="cardbtn7_632940554" data-field="li_buttontitle__1693472404229" style="color:#3782d1;" aria-hidden="true" data-buttonfieldset="li_button" data-lid="1693472404229">Смотреть</div>
                            </div>
                        </div>
                        <div class="t-card__col t772__col t-col t-col_4 t-align_left t-item t-animate" data-animate-style="fadeinup" data-animate-chain="yes">
                            <div class="t772__content">
                                <div class="t772__imgwrapper " style="padding-bottom:97.222222222222%;">
                                    <div class="t772__bgimg t-bgimg" data-original="https://static.tildacdn.one/tild6339-3963-4135-a339-316133636266/Java.jpg" bgimgfield="li_img__1693472426716" style="background-image:url('https://thb.tildacdn.one/tild6339-3963-4135-a339-316133636266/-/resizeb/20x/Java.jpg');" itemscope itemtype="http://schema.org/ImageObject">
                                        <meta itemprop="image" content="https://static.tildacdn.one/tild6339-3963-4135-a339-316133636266/Java.jpg">
                                    </div>
                                </div>
                                <div class="t772__textwrapper">
                                    <div class="t-card__title t-name t-name_md" field="li_title__1693472426716">
                                        <a href="/ru/fullstack-java" class="t-card__link" id="cardtitle8_632940554" aria-labelledby="cardtitle8_632940554 cardbtn8_632940554">
                                            <strong>Full Stack Java</strong>
                                        </a>
                                    </div>
                                    <div class="t-card__descr t-descr t-descr_xxs" field="li_descr__1693472426716">Все аспекты разработки. Создавайте комплексные решения на Java.</div>
                                    <style>
                                        #rec632940554 .t-card__title {
                                            color: #ffffff;
                                            font-weight: 500;
                                            font-family: 'Unbounded';
                                        }

                                        #rec632940554 .t-card__descr {
                                            font-size: 15px;
                                            color: #7a96b0;
                                            font-weight: 500;
                                            font-family: 'Arial';
                                        }
                                    </style>
                                </div>
                            </div>
                            <div class="t-card__btntext-wrapper">
                                <div class="t-card__btn-text t-btntext t-btntext_sm " id="cardbtn8_632940554" data-field="li_buttontitle__1693472426716" style="color:#3782d1;" aria-hidden="true" data-buttonfieldset="li_button" data-lid="1693472426716">Смотреть</div>
                            </div>
                        </div>
                        <div class="t-card__col t772__col t-col t-col_4 t-align_left t-item t-animate" data-animate-style="fadeinup" data-animate-chain="yes">
                            <div class="t772__content">
                                <div class="t772__imgwrapper " style="padding-bottom:97.222222222222%;">
                                    <div class="t772__bgimg t-bgimg" data-original="https://static.tildacdn.one/tild6238-3731-4231-b734-306338343832/NodeJS.jpg" bgimgfield="li_img__1693472449966" style="background-image:url('https://thb.tildacdn.one/tild6238-3731-4231-b734-306338343832/-/resizeb/20x/NodeJS.jpg');" itemscope itemtype="http://schema.org/ImageObject">
                                        <meta itemprop="image" content="https://static.tildacdn.one/tild6238-3731-4231-b734-306338343832/NodeJS.jpg">
                                    </div>
                                </div>
                                <div class="t772__textwrapper">
                                    <div class="t-card__title t-name t-name_md" field="li_title__1693472449966">
                                        <a href="/ru/nodejs" class="t-card__link" id="cardtitle9_632940554" aria-labelledby="cardtitle9_632940554 cardbtn9_632940554">
                                            <strong>Node.js практикум</strong>
                                        </a>
                                    </div>
                                    <div class="t-card__descr t-descr t-descr_xxs" field="li_descr__1693472449966">Серверная сторона будущего. Разработка на Node.js для высокой производительности.</div>
                                    <style>
                                        #rec632940554 .t-card__title {
                                            color: #ffffff;
                                            font-weight: 500;
                                            font-family: 'Unbounded';
                                        }

                                        #rec632940554 .t-card__descr {
                                            font-size: 15px;
                                            color: #7a96b0;
                                            font-weight: 500;
                                            font-family: 'Arial';
                                        }
                                    </style>
                                </div>
                            </div>
                            <div class="t-card__btntext-wrapper">
                                <div class="t-card__btn-text t-btntext t-btntext_sm " id="cardbtn9_632940554" data-field="li_buttontitle__1693472449966" style="color:#3782d1;" aria-hidden="true" data-buttonfieldset="li_button" data-lid="1693472449966">Смотреть</div>
                            </div>
                        </div>
                        <div class="t-clear t772__separator"></div>
                        <div class="t-card__col t772__col t-col t-col_4 t-align_left t-item t-animate" data-animate-style="fadeinup" data-animate-chain="yes">
                            <div class="t772__content">
                                <div class="t772__imgwrapper " style="padding-bottom:97.222222222222%;">
                                    <div class="t772__bgimg t-bgimg" data-original="https://static.tildacdn.one/tild6330-3061-4666-b334-623031643933/robototehnika.jpg" bgimgfield="li_img__1693472471401" style="background-image:url('https://thb.tildacdn.one/tild6330-3061-4666-b334-623031643933/-/resizeb/20x/robototehnika.jpg');" itemscope itemtype="http://schema.org/ImageObject">
                                        <meta itemprop="image" content="https://static.tildacdn.one/tild6330-3061-4666-b334-623031643933/robototehnika.jpg">
                                    </div>
                                </div>
                                <div class="t772__textwrapper">
                                    <div class="t-card__title t-name t-name_md" field="li_title__1693472471401">
                                        <a href="/ru/robotics" class="t-card__link" id="cardtitle10_632940554" aria-labelledby="cardtitle10_632940554 cardbtn10_632940554">
                                            <strong>Робототехника</strong>
                                        </a>
                                    </div>
                                    <div class="t-card__descr t-descr t-descr_xxs" field="li_descr__1693472471401">Технологии будущего сегодня. Проектируйте и создавайте роботов.</div>
                                    <style>
                                        #rec632940554 .t-card__title {
                                            color: #ffffff;
                                            font-weight: 500;
                                            font-family: 'Unbounded';
                                        }

                                        #rec632940554 .t-card__descr {
                                            font-size: 15px;
                                            color: #7a96b0;
                                            font-weight: 500;
                                            font-family: 'Arial';
                                        }
                                    </style>
                                </div>
                            </div>
                            <div class="t-card__btntext-wrapper">
                                <div class="t-card__btn-text t-btntext t-btntext_sm " id="cardbtn10_632940554" data-field="li_buttontitle__1693472471401" style="color:#3782d1;" aria-hidden="true" data-buttonfieldset="li_button" data-lid="1693472471401">Смотреть</div>
                            </div>
                        </div>
                        <div class="t-card__col t772__col t-col t-col_4 t-align_left t-item t-animate" data-animate-style="fadeinup" data-animate-chain="yes">
                            <div class="t772__content">
                                <div class="t772__imgwrapper " style="padding-bottom:97.222222222222%;">
                                    <div class="t772__bgimg t-bgimg" data-original="https://static.tildacdn.one/tild3837-6166-4561-b063-626239356237/ios-swift.jpg" bgimgfield="li_img__1693472500623" style="background-image:url('https://thb.tildacdn.one/tild3837-6166-4561-b063-626239356237/-/resizeb/20x/ios-swift.jpg');" itemscope itemtype="http://schema.org/ImageObject">
                                        <meta itemprop="image" content="https://static.tildacdn.one/tild3837-6166-4561-b063-626239356237/ios-swift.jpg">
                                    </div>
                                </div>
                                <div class="t772__textwrapper">
                                    <div class="t-card__title t-name t-name_md" field="li_title__1693472500623">
                                        <a href="/ru/ios-swift" class="t-card__link" id="cardtitle11_632940554" aria-labelledby="cardtitle11_632940554 cardbtn11_632940554">
                                            <strong>iOS &amp;Swift программирование</strong>
                                        </a>
                                    </div>
                                    <div class="t-card__descr t-descr t-descr_xxs" field="li_descr__1693472500623">Элегантные приложения для Apple. Разработка на Swift для iOS.</div>
                                    <style>
                                        #rec632940554 .t-card__title {
                                            color: #ffffff;
                                            font-weight: 500;
                                            font-family: 'Unbounded';
                                        }

                                        #rec632940554 .t-card__descr {
                                            font-size: 15px;
                                            color: #7a96b0;
                                            font-weight: 500;
                                            font-family: 'Arial';
                                        }
                                    </style>
                                </div>
                            </div>
                            <div class="t-card__btntext-wrapper">
                                <div class="t-card__btn-text t-btntext t-btntext_sm " id="cardbtn11_632940554" data-field="li_buttontitle__1693472500623" style="color:#3782d1;" aria-hidden="true" data-buttonfieldset="li_button" data-lid="1693472500623">Смотреть</div>
                            </div>
                        </div>
                        <div class="t-card__col t772__col t-col t-col_4 t-align_left t-item t-animate" data-animate-style="fadeinup" data-animate-chain="yes">
                            <div class="t772__content">
                                <div class="t772__imgwrapper " style="padding-bottom:97.222222222222%;">
                                    <div class="t772__bgimg t-bgimg" data-original="https://static.tildacdn.one/tild3761-3762-4632-b336-306339383634/python.jpg" bgimgfield="li_img__1693472520187" style="background-image:url('https://thb.tildacdn.one/tild3761-3762-4632-b336-306339383634/-/resizeb/20x/python.jpg');" itemscope itemtype="http://schema.org/ImageObject">
                                        <meta itemprop="image" content="https://static.tildacdn.one/tild3761-3762-4632-b336-306339383634/python.jpg">
                                    </div>
                                </div>
                                <div class="t772__textwrapper">
                                    <div class="t-card__title t-name t-name_md" field="li_title__1693472520187">
                                        <a href="/ru/fullstack-python" class="t-card__link" id="cardtitle12_632940554" aria-labelledby="cardtitle12_632940554 cardbtn12_632940554">
                                            <strong>Full Stack Python</strong>
                                        </a>
                                    </div>
                                    <div class="t-card__descr t-descr t-descr_xxs" field="li_descr__1693472520187">Гибкость и мощь Python. Разработка от сервера до пользовательского интерфейса.</div>
                                    <style>
                                        #rec632940554 .t-card__title {
                                            color: #ffffff;
                                            font-weight: 500;
                                            font-family: 'Unbounded';
                                        }

                                        #rec632940554 .t-card__descr {
                                            font-size: 15px;
                                            color: #7a96b0;
                                            font-weight: 500;
                                            font-family: 'Arial';
                                        }
                                    </style>
                                </div>
                            </div>
                            <div class="t-card__btntext-wrapper">
                                <div class="t-card__btn-text t-btntext t-btntext_sm " id="cardbtn12_632940554" data-field="li_buttontitle__1693472520187" style="color:#3782d1;" aria-hidden="true" data-buttonfieldset="li_button" data-lid="1693472520187">Смотреть</div>
                            </div>
                        </div>
                        <div class="t-clear t772__separator"></div>
                        <div class="t-card__col t772__col t-col t-col_4 t-align_left t-item t-animate" data-animate-style="fadeinup" data-animate-chain="yes">
                            <div class="t772__content">
                                <div class="t772__imgwrapper " style="padding-bottom:97.222222222222%;">
                                    <div class="t772__bgimg t-bgimg" data-original="https://static.tildacdn.one/tild3362-3237-4566-b333-633038313239/dot-net.jpg" bgimgfield="li_img__1693472540475" style="background-image:url('https://thb.tildacdn.one/tild3362-3237-4566-b333-633038313239/-/resizeb/20x/dot-net.jpg');" itemscope itemtype="http://schema.org/ImageObject">
                                        <meta itemprop="image" content="https://static.tildacdn.one/tild3362-3237-4566-b333-633038313239/dot-net.jpg">
                                    </div>
                                </div>
                                <div class="t772__textwrapper">
                                    <div class="t-card__title t-name t-name_md" field="li_title__1693472540475">
                                        <a href="/ru/dotnet" class="t-card__link" id="cardtitle13_632940554" aria-labelledby="cardtitle13_632940554 cardbtn13_632940554">
                                            <strong>.NET программирование</strong>
                                        </a>
                                    </div>
                                    <div class="t-card__descr t-descr t-descr_xxs" field="li_descr__1693472540475">Надежные решения для корпоративного сектора. Разработка на .NET.</div>
                                    <style>
                                        #rec632940554 .t-card__title {
                                            color: #ffffff;
                                            font-weight: 500;
                                            font-family: 'Unbounded';
                                        }

                                        #rec632940554 .t-card__descr {
                                            font-size: 15px;
                                            color: #7a96b0;
                                            font-weight: 500;
                                            font-family: 'Arial';
                                        }
                                    </style>
                                </div>
                            </div>
                            <div class="t-card__btntext-wrapper">
                                <div class="t-card__btn-text t-btntext t-btntext_sm " id="cardbtn13_632940554" data-field="li_buttontitle__1693472540475" style="color:#3782d1;" aria-hidden="true" data-buttonfieldset="li_button" data-lid="1693472540475">Смотреть</div>
                            </div>
                        </div>
                        <div class="t-card__col t-card__col_withoutbtn t772__col t-col t-col_4 t-align_left t-item t-animate" data-animate-style="fadeinup" data-animate-chain="yes">
                            <div class="t772__content">
                                <div class="t772__imgwrapper " style="padding-bottom:97.222222222222%;">
                                    <div class="t772__bgimg t-bgimg" data-original="https://static.tildacdn.one/tild3533-3333-4335-b336-336566636233/ux-ui.jpg" bgimgfield="li_img__1693472559054" style="background-image:url('https://thb.tildacdn.one/tild3533-3333-4335-b336-336566636233/-/resizeb/20x/ux-ui.jpg');" itemscope itemtype="http://schema.org/ImageObject">
                                        <meta itemprop="image" content="https://static.tildacdn.one/tild3533-3333-4335-b336-336566636233/ux-ui.jpg">
                                    </div>
                                </div>
                                <div class="t772__textwrapper">
                                    <div class="t-card__uptitle t-uptitle t-uptitle_xs" field="li_subtitle__1693472559054">Скоро</div>
                                    <div class="t-card__title t-name t-name_md" field="li_title__1693472559054">
                                        <strong>Продвинутый UX/UI</strong>
                                    </div>
                                    <div class="t-card__descr t-descr t-descr_xxs" field="li_descr__1693472559054">Эстетика и функциональность для интерфейсов нового поколения.</div>
                                    <style>
                                        #rec632940554 .t-card__uptitle {
                                            font-size: 13px;
                                            color: #d7ff00;
                                        }

                                        #rec632940554 .t-card__title {
                                            color: #ffffff;
                                            font-weight: 500;
                                            font-family: 'Unbounded';
                                        }

                                        #rec632940554 .t-card__descr {
                                            font-size: 15px;
                                            color: #7a96b0;
                                            font-weight: 500;
                                            font-family: 'Arial';
                                        }
                                    </style>
                                </div>
                            </div>
                        </div>
                        <div class="t-card__col t772__col t-col t-col_4 t-align_left t-item t-animate" data-animate-style="fadeinup" data-animate-chain="yes">
                            <div class="t772__content">
                                <div class="t772__imgwrapper " style="padding-bottom:97.222222222222%;">
                                    <div class="t772__bgimg t-bgimg" data-original="https://static.tildacdn.one/tild3666-3639-4639-a664-656338313036/frontend.jpg" bgimgfield="li_img__1693472779026" style="background-image:url('https://thb.tildacdn.one/tild3666-3639-4639-a664-656338313036/-/resizeb/20x/frontend.jpg');" itemscope itemtype="http://schema.org/ImageObject">
                                        <meta itemprop="image" content="https://static.tildacdn.one/tild3666-3639-4639-a664-656338313036/frontend.jpg">
                                    </div>
                                </div>
                                <div class="t772__textwrapper">
                                    <div class="t-card__title t-name t-name_md" field="li_title__1693472779026">
                                        <a href="/ru/frontend" class="t-card__link" id="cardtitle15_632940554" aria-labelledby="cardtitle15_632940554 cardbtn15_632940554">
                                            <strong>Frontend Практикум</strong>
                                        </a>
                                    </div>
                                    <div class="t-card__descr t-descr t-descr_xxs" field="li_descr__1693472779026">Научим созданию динамичных и красочных интерфейсов.</div>
                                    <style>
                                        #rec632940554 .t-card__title {
                                            color: #ffffff;
                                            font-weight: 500;
                                            font-family: 'Unbounded';
                                        }

                                        #rec632940554 .t-card__descr {
                                            font-size: 15px;
                                            color: #7a96b0;
                                            font-weight: 500;
                                            font-family: 'Arial';
                                        }
                                    </style>
                                </div>
                            </div>
                            <div class="t-card__btntext-wrapper">
                                <div class="t-card__btn-text t-btntext t-btntext_sm " id="cardbtn15_632940554" data-field="li_buttontitle__1693472779026" style="color:#3782d1;" aria-hidden="true" data-buttonfieldset="li_button" data-lid="1693472779026">Смотреть</div>
                            </div>
                        </div>
                        <div class="t-clear t772__separator"></div>
                        <div class="t-card__col t772__col t-col t-col_4 t-align_left t-item t-animate" data-animate-style="fadeinup" data-animate-chain="yes">
                            <div class="t772__content">
                                <div class="t772__imgwrapper " style="padding-bottom:97.222222222222%;">
                                    <div class="t772__bgimg t-bgimg" data-original="https://static.tildacdn.one/tild3366-3761-4466-b232-653661613434/marketing.jpg" bgimgfield="li_img__1693472819214" style="background-image:url('https://thb.tildacdn.one/tild3366-3761-4466-b232-653661613434/-/resizeb/20x/marketing.jpg');" itemscope itemtype="http://schema.org/ImageObject">
                                        <meta itemprop="image" content="https://static.tildacdn.one/tild3366-3761-4466-b232-653661613434/marketing.jpg">
                                    </div>
                                </div>
                                <div class="t772__textwrapper">
                                    <div class="t-card__title t-name t-name_md" field="li_title__1693472819214">
                                        <a href="/ru/marketing-ecommerce" class="t-card__link" id="cardtitle16_632940554" aria-labelledby="cardtitle16_632940554 cardbtn16_632940554">
                                            <strong>Маркетинг и E-Commerce</strong>
                                        </a>
                                    </div>
                                    <div class="t-card__descr t-descr t-descr_xxs" field="li_descr__1693472819214">Стратегии для онлайн-бизнеса. Инструменты и методы цифрового маркетинга.</div>
                                    <style>
                                        #rec632940554 .t-card__title {
                                            color: #ffffff;
                                            font-weight: 500;
                                            font-family: 'Unbounded';
                                        }

                                        #rec632940554 .t-card__descr {
                                            font-size: 15px;
                                            color: #7a96b0;
                                            font-weight: 500;
                                            font-family: 'Arial';
                                        }
                                    </style>
                                </div>
                            </div>
                            <div class="t-card__btntext-wrapper">
                                <div class="t-card__btn-text t-btntext t-btntext_sm " id="cardbtn16_632940554" data-field="li_buttontitle__1693472819214" style="color:#3782d1;" aria-hidden="true" data-buttonfieldset="li_button" data-lid="1693472819214">Смотреть</div>
                            </div>
                        </div>
                        <div class="t-card__col t-card__col_withoutbtn t772__col t-col t-col_4 t-align_left t-item t-animate" data-animate-style="fadeinup" data-animate-chain="yes">
                            <div class="t772__content">
                                <div class="t772__imgwrapper " style="padding-bottom:97.222222222222%;">
                                    <div class="t772__bgimg t-bgimg" data-original="https://static.tildacdn.one/tild6335-3738-4937-b661-346631346430/desing-socseti.jpg" bgimgfield="li_img__1693472853127" style="background-image:url('https://thb.tildacdn.one/tild6335-3738-4937-b661-346631346430/-/resizeb/20x/desing-socseti.jpg');" itemscope itemtype="http://schema.org/ImageObject">
                                        <meta itemprop="image" content="https://static.tildacdn.one/tild6335-3738-4937-b661-346631346430/desing-socseti.jpg">
                                    </div>
                                </div>
                                <div class="t772__textwrapper">
                                    <div class="t-card__uptitle t-uptitle t-uptitle_xs" field="li_subtitle__1693472853127">Скоро</div>
                                    <div class="t-card__title t-name t-name_md" field="li_title__1693472853127">
                                        <strong>Social Media Design</strong>
                                    </div>
                                    <div class="t-card__descr t-descr t-descr_xxs" field="li_descr__1693472853127">Визуализация ваших идей. Графический дизайн в эпоху социальных сетей.</div>
                                    <style>
                                        #rec632940554 .t-card__uptitle {
                                            font-size: 13px;
                                            color: #d7ff00;
                                        }

                                        #rec632940554 .t-card__title {
                                            color: #ffffff;
                                            font-weight: 500;
                                            font-family: 'Unbounded';
                                        }

                                        #rec632940554 .t-card__descr {
                                            font-size: 15px;
                                            color: #7a96b0;
                                            font-weight: 500;
                                            font-family: 'Arial';
                                        }
                                    </style>
                                </div>
                            </div>
                        </div>
                        <div class="t-card__col t772__col t-col t-col_4 t-align_left t-item t-animate" data-animate-style="fadeinup" data-animate-chain="yes">
                            <div class="t772__content">
                                <div class="t772__imgwrapper " style="padding-bottom:97.222222222222%;">
                                    <div class="t772__bgimg t-bgimg" data-original="https://static.tildacdn.one/tild3963-3237-4661-b862-383830633534/english.jpg" bgimgfield="li_img__1693472909654" style="background-image:url('https://thb.tildacdn.one/tild3963-3237-4661-b862-383830633534/-/resizeb/20x/english.jpg');" itemscope itemtype="http://schema.org/ImageObject">
                                        <meta itemprop="image" content="https://static.tildacdn.one/tild3963-3237-4661-b862-383830633534/english.jpg">
                                    </div>
                                </div>
                                <div class="t772__textwrapper">
                                    <div class="t-card__title t-name t-name_md" field="li_title__1693472909654">
                                        <a href="/ru/english-for-it" class="t-card__link" id="cardtitle18_632940554" aria-labelledby="cardtitle18_632940554 cardbtn18_632940554">
                                            <strong>Английский для IT</strong>
                                        </a>
                                    </div>
                                    <div class="t-card__descr t-descr t-descr_xxs" field="li_descr__1693472909654">Мост между культурами и технологиями. Специализированный английский для IT-сферы.</div>
                                    <style>
                                        #rec632940554 .t-card__title {
                                            color: #ffffff;
                                            font-weight: 500;
                                            font-family: 'Unbounded';
                                        }

                                        #rec632940554 .t-card__descr {
                                            font-size: 15px;
                                            color: #7a96b0;
                                            font-weight: 500;
                                            font-family: 'Arial';
                                        }
                                    </style>
                                </div>
                            </div>
                            <div class="t-card__btntext-wrapper">
                                <div class="t-card__btn-text t-btntext t-btntext_sm " id="cardbtn18_632940554" data-field="li_buttontitle__1693472909654" style="color:#3782d1;" aria-hidden="true" data-buttonfieldset="li_button" data-lid="1693472909654">Смотреть</div>
                            </div>
                        </div>
                    </div>
                </div>